{% load static %}
<html>
    <head>
        <title>Schedule My Lessons</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "index.css" %}">
        <script src="{% static "index.js" %}"></script>
        
    </head>

    <body>
        <div class="container">
        <h1>Schedule My Lessons</h1>
            <h3>Schedule your lessons with ease, and achieve your best results!</h3>
            <hr />
            <div class="agenda">
                <div class="table-responsive">
                    <button id="signOut" type="button" class="btn btn-danger signout-button" data-toggle="modal" data-target="#signOutModal">Sign Out</button>
                    <button id="myTutors" type="button" class="btn btn-info options-button" data-toggle="modal" data-target="#myTutorsModal">
                    {% if user_type == 'client' %}    
                        My Tutors
                    {% else %}
                        My Students
                    {% endif %}
                    </button>
                    <button id="myProfile" type="button" class="btn btn-primary options-button" onclick="openMyProfile()">My Profile</button>
                    <table id="agendaTable" class="table table-condensed table-bordered">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="agenda-date" class="active" rowspan="1">
                                    <div class="dayofmonth"></div>
                                    <div class="dayofweek"></div>
                                    <div class="shortdate text-muted"></div>
                                </td>
                                <td class="agenda-time"></td>
                                <td class="agenda-events"></td>
                            </tr>
                            
                            
                            <tr>
                                <td class="agenda-date" class="active" rowspan="3">
                                    <div class="dayofmonth">24</div>
                                    <div class="dayofweek">Thursday</div>
                                    <div class="shortdate text-muted">July, 2014</div>
                                </td>
                                <td class="agenda-time">
                                    8:00 - 9:00 AM 
                                </td>
                                <td class="agenda-events">
                                    <div class="agenda-event">
                                        Doctor's Appointment
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="agenda-time">
                                    10:15 AM - 12:00 PM 
                                </td>
                                <td class="agenda-events">
                                    <div class="agenda-event">
                                        Meeting with executives
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="agenda-time">
                                    7:00 - 9:00 PM
                                </td>
                                <td class="agenda-events">
                                    <div class="agenda-event">
                                        Aria's dance recital
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">Sure you want to sign out???</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="/logout"><button type="button" class="btn btn-danger">Sign Out</button></a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myTutorsModal" tabindex="-1" role="dialog" aria-labelledby="myTutorsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">My Tutors</h5>
                        </div>
                        <div id="tutors-table" class="modal-body modal-tutor">
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="scheduleLessonModal" tabindex="-1" role="dialog" aria-labelledby="scheduleLessonModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">Schedule A Lesson</h5>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <h3>Lesson Name</h3>
                                <label for="lessonName" class="form-control-label"></label>
                                <input type="text" class="form-control" id="lessonName">
                            </div>

                            <div class="form-group">
                                <h3>Lesson Description</h3>
                                <textarea class="form-control" id="lessonDescription" rows="2" cols="30"></textarea>
                            </div>

                            <div class='col-sm-6 start-date-picker'>
                                <h3>Start Date</h3>
                                <div class="form-group">
                                    <div class='input-group date' id='startDatePicker'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                                
                            <div class='col-sm-6 end-date-picker'>
                                <h3>End Date</h3>
                                <div class="form-group">
                                    <div class='input-group date' id='endDatePicker'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button id="saveSchedule" type="button" class="btn btn-success">Save changes</button> 
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
