{% load static %}
<html>
    <head>
        <title>Schedule My Lessons</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "index.css" %}">
        <script src="{% static "index.js" %}"></script>
        
    </head>

    <body>
        <div class="container">
        <h1>Schedule My Lessons</h1>
            <h3>Schedule your lessons with ease, and achieve your best results!</h3>
            <hr />
            <div class="agenda">
                <div class="table-responsive">
                    <button id="signOut" type="button" class="btn btn-danger signout-button" data-toggle="modal" data-target="#signOutModal">Sign Out</button>
                    <button id="myTutors" type="button" class="btn btn-info options-button" data-toggle="modal" data-target="#myTutorsModal">My Tutors</button>
                    <button id="myProfile" type="button" class="btn btn-primary options-button" onclick="openMyProfile()">My Profile</button>
                    <table id="agendaTable" class="table table-condensed table-bordered">
                        <thead></thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td class="agenda-date" class="active" rowspan="1">
                                        <div class="dayofmonth">{{ event.start_month_day }}</div>
                                        <div class="dayofweek">{{ event.start_week_day }}</div>
                                        <div class="shortdate text-muted">{{ event.start_shortdate }}</div>
                                    </td>
                                    <td class="agenda-time">
                                        {{ event.start_time }} - {{ event.end_time }} 
                                    </td>
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            {{ event.name }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">Sure you want to sign out???</h5>
                        </div>
                        <div style="border-top: 0px solid black" class="modal-footer">
                            <button type="button" class="btn btn-danger">Sign Out</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myTutorsModal" tabindex="-1" role="dialog" aria-labelledby="myTutorsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">My Tutors</h5>
                        </div>
                        <div id="tutors-table" class="modal-body modal-tutor">
                            
                        </div>
                        <div style="border-top: 0px solid black" class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
