<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static "my_profile.css" %}">
  </head>
  <body>

    <p class="headerText">My Profile</p>

    <div class="panel">
      <img class="profilePicture" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAPJAAAAJDY5YzQxZTZjLTc0NGEtNDI5ZC1hMmRiLWM3YjQ4MThiOTQ3OA.jpg" alt="Profile Picture">
      <p class="label">First Name</p>
      <p class="info">{{ user.first_name }}</p>
      <p class="label">Last Name</p>
      <p class="info">{{ user.last_name }}</p>
      <p class="label">ID</p>
      <p class="info hash">{{ user.profile.id }}</p>
    </div>

  </body>

</html>
