<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static "my_profile.css" %}">
    <script src="{% static "index.js" %}"></script>
    </head>
  <body>

    <div>
        <button class="homebutton" onclick="renderHomepage()">Home</button>
        <p class="headerText">My Profile</p>
    </div>
    <div class="panel">
      <img src="{% static "man.png" %}" height="200" class="profilePicture">
      <p class="label">First Name</p>
      <p class="info">{{ user.first_name }}</p>
      <p class="label">Last Name</p>
      <p class="info">{{ user.last_name }}</p>
      <p class="label">ID</p>
      <p class="info hash">{{ user.profile.id }}</p>
    </div>

  </body>

</html>
