<!DOCTYPE html>

{% load static %}

<html>
    <head>
      <link rel="stylesheet" href="{% static "my_profile.css" %}">
    </head>

    <body>
      <h1 class = "headerText"> Availability</h1>
      <h2 class = "secondHeader "></h2>


      <button type="button" onclick="alert('Created New Session')">Book Session
      </button>


      <table>
        <caption>Open Time Slots for Dr.Jones</caption>
          <tr>
            <th> Date </th>
            <th> Time </th>
          </tr>

          <tr>
            <td> Monday </td>
            <td> 5:00PM - 8:00PM </td>
          </tr>

          <tr>
            <td> Tuesday </td>
            <td> 6:00PM - 7:00PM </td>
          </tr>

          <tr>
            <td> Wednesday </td>
            <td> 1:00PM - 3:00PM </td>
          </tr>

          <tr>
            <td> Thursday </td>
            <td> 9:00AM - 1:00PM </td>
          </tr>

          <tr>
            <td> Friday </td>
            <td> 4:00PM - 7:00PM </td>
          </tr>

          <tr>
            <td> Saturday </td>
            <td> 4:00PM - 9:00PM </td>
          </tr>

          <tr>
            <td> Sunday </td>
            <td> 9:00AM - 5:00PM </td>
          </tr>

      </table>

    </body>

</html>
