<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Your Password | Schedulearn</title>
  <link rel="stylesheet" href="{% static 'accounts/css/verify_email.css' %}">
</head>
<body>
  <div class="div-left"></div>

  <div class="homepage">
    <a class="homepage-btn" href="{% url 'home' %}">HOMEPAGE</a>
  </div>

  <div class="div-right">
      <h1 class="verify-title">{{ status }}</h1>
  </div>

</body>
</html>
