@font-face {
    font-family: LightFont;
    src: url('TheLightFont.otf');
}
@font-face {
    font-family: MankSans;
    src: url('MankSans.ttf');
}

h1 {
    font-family: LightFont;
    font-size: 80px;
    text-align: center;
}

h3 {
    font-family: LightFont;
    font-size: 25px;
    text-align: center;
}

#scheduleLesson {
    float: right;
    margin-bottom: 20px;
}

.modal-body {
    height: auto;
}

.modal-title {
    font-family: LightFont;
    font-size: 35px;
    text-align: center;
}

.modal-content {
    margin: 0 auto;
    height: auto;
}

.start-date-picker {
    float: left;
}

.end-date-picker {
    float: right;
}

/* Dates */
.agenda .agenda-date {
    width: 170px;
}

.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}

.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}

/* Times */
.agenda .agenda-time {
    width: 140px;
}

.options-button {
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
}

.signout-button {
    float: right;
}

td, th {
    text-align: center;
}

table, td, th {
    border: 1px solid #c6c6c6;
    text-align: left;
}

table {
    overflow-y: auto;
    font-family: MankSans;
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
    margin: 0 auto;
}

th, td {
    padding: 7px;
    font-size: 16px;
    text-align: center;
}

th {
    background-color: #ffde00;
    color: black;
    font-family: LightFont;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f8f9f9;
}

p {
    font-size: 16px;
    margin-top: 9px;
}