@font-face {
    font-family: LightFont;
    src: url('TheLightFont.otf');
}

h1 {
    font-family: LightFont;
    font-size: 80px;
    text-align: center;
}

h3 {
    font-family: LightFont;
    font-size: 25px;
    text-align: center;
}

.modal-body {
    height: 60%;

}

.modal-title {
    font-family: LightFont;
    font-size: 35px;
    text-align: center;
}

.modal-content {
    margin: 0 auto;
}

.start-date-picker {
    float: left;
}

.end-date-picker {
    float: right;
}

/* Dates */
.agenda .agenda-date {
    width: 170px;
}

.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}

.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}

/* Times */
.agenda .agenda-time {
    width: 140px;
}

.options-button {
    margin-left: 20px;
    float: right;
    margin-bottom: 20px;
}