@font-face { font-family: LightFont; src: url('THeLightFont.otf');}

body {
  background-color: #eeeeee;
}

.headerText{
  font-size: 60px;
  border-bottom: 1px solid black;
  width: 300px;
  text-align: center;
  margin:0 auto;
  font-family: LightFont;
}

.secondHeader{

  font-family: LightFont;
}



  td,th {
    text-align: center;

  }


  table, td, th {

      border: 1px solid #c6c6c6;
      text-align: left;

      }

    table {
            border-collapse: collapse;
            border: 3px solid black;
            width: 50%;
            margin: 0 auto;
            position: sticky;
            font-family: LightFont;

        }

    th, td {
      padding: 15px;
      font-size: 20px;


    }

    th {
  background-color: #FFDE00;
  color: black;
  font-family: LightFont;
  font-size: 24px;

  }

 tr:nth-child(even) {background-color: #F8F9F9;}
