<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set A New Password | Schedulearn</title>
  <link rel="stylesheet" href="{% static 'accounts/css/reset_password.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="{% static 'accounts/js/reset_password.js' %}"></script>
</head>
<body>
  <div class="div-left"></div>

  <div class="form-right">

    <div class="form">
      <h3 class="forgot-title">Set a new password.</h3>
      <form class="forgot-info" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input class="form-label form-input" type="password" name="user_password1" placeholder="Password" value="{{ user_password1 }}">
        </div>
        <div class="form-group">
          <input class="form-label form-input" type="password" name="user_password2" placeholder="Confirm Password" value="{{ user_password2 }}">
        </div>

        {% for weak_password_error in weak_password_errors %}
        <p class="error-list">{{ weak_password_error }}</p>
        {% endfor %}
        <p class="error-list">{{ unmatching_password_error }}</p>
        <input class="submit" type="submit">
        <div class="center">
          <a class="set-password-btn" href="#">SET PASSWORD</a>
        </div>
      </form>
    </div>

  </div>

</body>
</html>
