<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Schedulearn</title>
    <link rel="stylesheet" href="{% static 'accounts/css/sign_up.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static 'accounts/js/sign_up.js' %}"></script>
  </head>
  <body>

      <div class="div-left"></div>

      <div class="form-right">
        <div class="login">
          <div class="already-account-text">Have an account?</div>
          <a class="login-btn" href="{% url 'login' %}">LOGIN</a>
        </div>
        <div class="form">
          <h3 class="get-started"><span class="static-text">Get started and stay </span><span class="changing-text">connected.</span></h3>
          <form class="sign-up-info" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <label class="form-label" for="user_email">Email Address</label>
            <input class="form-input email_input" type="email" name="user_email" placeholder="jamie_ferguson@example.com" value="{{ email }}">
            <p class="error-list">{{ email_error }}</p>
            <label class="form-label" for="user_name">Full Name</label>
            <input class="form-input" type="text" name="user_name" placeholder="Jamie Ferguson" value="{{ fullName }}">
            <label class="form-label" for="user_password1">Password</label>
            <input class="form-input password_input" type="password" name="user_password1" placeholder="7+ Characters" value="{{ password1 }}">
            <label class="form-label" for="user_password2">Password Confirmation</label>
            <input class="form-input password_input" type="password" name="user_password2" placeholder="7+ Characters" value="{{ password2 }}">
            {% for weak_password_error in password_errors %}
            <p class="error-list">{{ weak_password_error }}</p>
            {% endfor %}
            <p class="error-list">{{ unmatching_password_error }}</p>
            <input class="submit" type="submit">
            <div class="center">
                <a class="continue-btn" href="#">CONTINUE</a>
            </div>

          </form>
          <h1 class="or">OR</h1>
          <div class="center">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-btn"><i class="fa fa-google mr-2"></i> Sign Up with Google</a>
            <p class="error-list">{{ sign_up_google_email_error }}</p>
          </div>


        </div>
      </div>

    <style>
    {% if password_errors or unmatching_password_error %}
        .password_input {
          border: 1px solid #D14F52;
        }
    {% endif %}
    {% if email_error %}
        .email_input {
          border: 1px solid #D14F52;
        }
    {% endif %}
    {% if sign_up_google_email_error %}
      .google-btn {
        background-color: rgba(224, 72, 58, 0.9);
        color: white;
        border: none;
        border-radius: 1000px;
      }
    {% endif %}
  </style>

  </body>
</html>
