<!DOCTYPE html>
{% load static %}
{% load account %}
{% load account socialaccount %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In | Schedulearn</title>
  <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
  <script src="https://kit.fontawesome.com/8111cb001a.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="{% static 'accounts/js/sign_in.js' %}"></script>
</head>
<body>
  <div class="div-left"></div>
  <div class="form-right">
    <div class="sign-up">
      <div class="already-account-text">Don't have an account yet?</div>
      <a class="signup-btn" href="{% url 'account_signup' %}">SIGN UP</a>
    </div>
    <div class="form">
      <h3 class="get-started">Enter your details <span class="changing-text">below.</span></h3>
      <p class="confirm-list">{{ reset_password }}</p>
      <form class="login-info" action="{% url 'account_login' %}" method="POST">
        {% csrf_token %}
        <input class="form-label form-input" type="email" name="login" placeholder="Email" value="{{ email }}">
        <input class="form-label form-input" type="password" name="password" placeholder="Password" value="{{ password }}">
        <a class="forgot-password" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="error-list">{{ error|escape }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p class="error-list">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
        <input class="submit" type="submit">
        <div class="center">
          <a class="login-btn" href="#">LOGIN</a>
        </div>
      </form>
      <h1 class="or">OR</h1>
      <div class="center">
        <a href="/accounts/google/login/" class="google-btn social-btn"><i class="fab fa-google mr-2"></i> Continue with Google</a>
        <a href="/accounts/facebook/login/" class="facebook-btn social-btn"><i class="fab fa-facebook-f mr-2"></i> Continue with Facebook</a>
      </div>
    </div>
  </div>
</body>
</html>
