<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Your Password | Schedulearn</title>
  <link rel="stylesheet" href="{% static 'accounts/css/forget_password.css' %}">
  <script src="https://kit.fontawesome.com/8111cb001a.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="{% static 'accounts/js/forgot_password.js' %}"></script>
</head>
<body>
  <div class="div-left"></div>

  <div class="sign-up">
    <div class="already-account-text">Don't have an account yet?</div>
    <a class="signup-btn" href="{% url 'account_signup' %}">SIGN UP</a>
  </div>

  <div class="form-right">

    <div class="form">
      <h3 class="forgot-title">Forgot your <span class="changing-text">password?</span></h3>
      <form class="forgot-info" action="{% url 'account_reset_password' %}" method="POST">
        {% csrf_token %}
        <p class=prompt-text>Enter your email address here, then check your inbox for a link to reset your password.</p>
        <input class="form-label form-input" type="email" name="email" placeholder="Email">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="error-list">{{ error|escape }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p class="error-list">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
        <input class="submit" type="submit">
        <div class="center">
          <a class="request-btn" href="#">REQUEST RESET LINK</a>
        </div>
      </form>
    </div>

  </div>

  {% if email_error %}
  <style>
    .form-input {
      border: 2px solid #E54F52;
    }
  </style>
  {% endif %}
  {% if check_email %}
  <style>
    .form-input {
      border: 2px solid green;
    }
  </style>
  {% endif %}

</body>
</html>
