<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Personalize | Schedulearn</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css">
    <link rel="stylesheet" href="{% static 'accounts/css/personalize.css' %}">
    <script src="{% static 'accounts/js/personalize.js' %}"></script>
  </head>
  <body>
    <!-- Cropping Picture Modal -->
    <div class="modal fade bd-crop-picture-modal-lg" tabindex="-1" role="dialog" aria-labelledby="croppingPictureModal" aria-hidden="true">
      <div id="crop-modal-dialog" class="modal-dialog modal-lg">
        <div id="crop-modal-content" class="modal-content">
          <div id="crop-modal-body" class="modal-body">
            <img id="crop_picture" src="" alt="Your profile picture">
          </div>
          <div style="border-top:0px" class="modal-footer">
            <button id="saveCrop" type="button" class="btn btn-primary">Save changes</button>
            <button id="cancelCrop" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END cropping picture modal -->

    <!-- Background image on the left -->
    <div class="div-left"></div>
    <!-- END Background image on the left -->

    <div class="div-right">
      <div class="form">
        <h3 class="get-started"><span class="static-text">Personalize your </span><span class="changing-text">experience.</span></h3>
        <form class="sign-up-info" action="{% url 'personalize' %}" method="POST">
          {% csrf_token %}
          <label class="form-label" for="profile_picture">ADD A PROFILE PICTURE</label>

          <!-- Profile Picture -->
          <div class="picture-container">
            <div class="picture"></div>
            <!-- Camera icon when you hover over image -->
            <div class="camera-container">
              <div class="camera-icon"><i class="fas fa-camera-retro"></i></div>
            </div>
            <!-- End camera icon -->
          </div>
          <!-- End Profile Picture -->

          <!-- Hidden Picture Input (Will be clicked on through js) -->
          <input name="profile_pic" class="id_profile_pic" type="file" hidden>
          <!-- END Hidden Picture Input -->
          <label class="form-label" for="bio">ADD A BIO</label>
          <textarea id="userBio" name="bio" rows="6" placeholder="Add a summary stating your expertise in your field of work."></textarea>
          <label class="form-label" for="user-type">ARE YOU USING SCHEDULEARN AS A</label>
          <div class="student-input">
            <input class="user-type-input" type="radio" name="user-type" value="student" checked>
            <label class="user-type-label" for="user-student">Student</label>
          </div>
          <div class="teacher-input">
            <input class="user-type-input" type="radio" name="user-type" value="tutor">
            <label class="user-type-label "for="user-tutor">Tutor</label>
          </div>
          <input class="submit" type="submit" hidden>
          <div class="center">
              <a class="continue-btn" href="#">FINISH UP</a>
          </div>
        </form>
      </div>
    </div>

    <style>
    .picture {
        background-image: url("/media/{{ user.profile.profile_pic }}");
    }
    </style>

  </body>
</html>
