/*
Navbar background color: #4A4A4A;
Extended navbar bg color: #D14F52;
*/

@font-face {
  font-family: adam-cg-pro;
  src: url("../fonts/adam-cg-pro.regular.otf");
}

@font-face {
  font-family: code-bold;
  src: url("../fonts/CODE-Bold.otf");
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../fonts/AvenirNext-Regular.ttf");
}

html, body {
  height: 100%;
  background-color: #F4F4F4;
}

nav {
  background-color: #4A4A4A;
}

.navbar .navbar-brand {
  font-size: 180%;
  font-family: AvenirNext-DemiBold;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
  margin-right: 5%;
}

.navbar .collapse {
  font-family: AvenirNext-Medium;
}

.mr-auto .nav-item {
  font-size: 110%;
  margin-right: 6%;
}

.ml-auto {
  display: inline;
}

#profile-name {
  float: left;
}

#pfp-container {
  float: right;
}

#profile-picture {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
}

#profile-picture:hover {
  cursor: pointer;
}

#openNavigation {
  margin-right: 2%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-menu {
  text-align: center;
}

.extended-navbar {
  background-color: #D14F52;
  box-shadow: 0 2px 7px 2px rgba(0,0,0,0.50);
  font-family: BrandonGrotesque-Regular;
  color: #F4F4F4;
  padding: 8px 24px;
}

.extended-button {
  font-size: 100%;
  color: #F4F4F4;
  margin-right: 3%;
}

.extended-button:hover {
  color: #F4F4F4;
}

.extended-icon {
  margin-right: 4px;
}

.main {
  text-align: center;
}

.main-pending {
  text-align: center;
  padding-bottom: 100px;
}

.group-title {
  font-size: 220%;
  font-family: adam-cg-pro;
  margin: 40px auto;
}

.group-pending-title {
  padding-top: 25px;
  font-size: 220%;
  font-family: adam-cg-pro;
  margin: 32px auto;
}

.lesson {
  width: 70%;
  margin: 0 auto;
  border: 2px solid #4A4A4A;
}

.main-information {
  width: 100%;
  display: inline-flex;
  height: 130px;
}

.date {
  min-width: 80px;
  height: 100%;
  background-color: #D14F52;
  font-family: code-bold;
  color: #F4F4F4;
}

.date-day {
  padding-top: 25px;
  font-size: 300%;
  margin-bottom: -25%;
  margin-top: -11%;
  display: block;
}

.date-month {
  display: block;
  font-size: 150%;
}

.title-and-description {
  background-color: white;
  width: 100%;
  padding-left: 1%;
}

.lesson-title {
  padding-top: 0.5%;
  font-family: BebasNeueRegular;
  text-align: left;
  font-size: 200%;
  margin-bottom: 0;
}

.lesson-description {
  text-align: left;
  font-family: avenir-next-regular;
  font-weight: 100;
  font-size: 90%;
}

.extended-information {
  width: 100%;
  background-color: #4F4F4F;
  text-align: left;
}

.extended-field {
  text-align: left;
  margin-bottom: 0;
  color: #4F4F4F;
  font-family: adam-cg-pro;
  font-weight: lighter;
  font-size: 100%;
  display: block;
}

.extended-detail {
  font-family: avenir-next-regular;
}

.signup-btn {
  display: none;
  margin-top: 40px;
  font-family: AvenirNext-Medium;
  background-color: #E54F52;
  font-size: 12px;
  color: white;
  padding: 5px 30px;
  border: 1px solid #E54F52;
  border-radius: 25px;
  margin-bottom: 1%;
}

.alignRight {
  top: 70px;
  right: 10px;
  background-color: #4F4F4F;
}

.alignRight a {
  text-decoration: none !important;
  color: white !important;
}
