@font-face {
    font-family: LightFont;
    src: url("../fonts/TheLightFont.otf");
}
@font-face {
    font-family: MankSans;
    src: url("../fonts/MankSans.ttf");
}

body {
  background: url("../images/funky-lines.png");
}

nav, .nav-link {
  background-color: #FEDC32;
}

.modal-title {
  margin-left: 150px;
    font-family: LightFont;
    font-size: 35px;
}
