@font-face {
    font-family: LightFont;
    src: url("../fonts/TheLightFont.otf");
}
@font-face {
    font-family: MankSans;
    src: url("../fonts/MankSans.ttf");
}

body {
  background: url("../images/funky-lines.png");
}

nav {
  background-color: #FEDC32;
}

.nav-link {
  background-color: #FEDC32;
}

.ml-auto {
  margin-top: 10px;
}

/* Not used right now; no logo.
#logo {
  width: 70%;
} */

.modal-title {
  margin-left: 150px;
    font-family: LightFont;
    font-size: 35px;
}
