@font-face { font-family: bebas-neue; src: url("../fonts/BebasNeue-Regular.ttf"); }
@font-face { font-family: avenir-next-regular; src: url("../fonts/AvenirNext-Regular.ttf"); }
@font-face { font-family: avenir-next-demibold; src: url("../fonts/AvenirNext-DemiBold.ttf"); }
@font-face { font-family: BrandonGrotesque-Regular; src: url("../fonts/Brandon_reg.otf"); }


html {
  height: 100%;
}

html body {
  height: 140%;
  background-color: #ededed;
}

/* Navbar for logged in Users */

#loggedInNavbar {
  background-color: #4A4A4A;
}

#loggedInNavbar .navbar-brand {
  font-size: 180%;
  font-family: avenir-next-demibold;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
  margin-right: 5%;
}

#loggedInNavbar .nav-item {
  font-family: avenir-next-regular;
}

#loggedInNavbar .mr-auto .nav-item {
  padding-right: 15px;
}

#linksDropdownLink, #notifcationsDropdownLink {
  padding: 0;
}

#notificationsDropdownLink {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
  font-size: 150%;
}

.fa-bell {
  text-align:center;
  vertical-align:middle;
  position: relative;
}

.notification-badge::after {
  content:attr(data-count);
  position: absolute;
  background: #D14F52;
  height: 1.2rem;
  width: 1.2rem;
  bottom: 0.8rem;
  left: 0.5rem;
  text-align: center;
  line-height: 1rem;;
  font-size: 0.6rem;
  border-radius: 50%;
  color:white;
  border: 1px solid #D14F52;
  font-family: avenir-next-regular;
}

#notificationsDropdownPane {
  height: 400px;
  width: 500px;
  overflow-x: hidden;
}

#notifcationsDropdownHeaderTitle {
  margin-bottom: 0;
  text-align: center;
  font-family: avenir-next-demibold;
  font-size: 110%;
}

#notifcationsDropdownHeaderDivider {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  border-top: 1px solid #4a4a4a;
}

#notificationsDropdownPane a {
  text-decoration: none;
}

.unread-notification-container {
  background-color: rgba(229, 79, 82, .2);
}

.unread-notification-container:hover {
  background-color: rgba(229, 79, 82, .25);
}

.read-notification-container {
  background-color: rgba(229, 229, 229, 0.5);
}

.read-notification-container:hover {
  background-color: rgba(219, 219, 219, 0.8);
}

.notification-container {
  padding: 10px;
  border-bottom: 1px solid #4a4a4a;
  display: table;
  width: 100%;
}

.notification-picture-container {
  height: 100%;
  display: table-cell;
}

.notification-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #4a4a4a;
}

.notification-message {
  margin-left: 7.5px;
  display: block;
  color: #4a4a4a;
}

.notification-button {
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #4a4a4a;
  margin-left: 10px;
  height: 20px;
  border-radius: 0.6rem;
}

#linksDropdownLink #userPicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

#myDropdown {
  position: absolute;
  text-align: center;
  margin-top: 7px;
}

#triangle-up {
	width: 0;
  height: 0;
  float: right;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
  border-bottom: 18px solid white;
  margin-top: -22px;
  margin-right: 24px;
}

.dropdown-options {
  display: block;
}

#signOut {
  color: #E54F52;
}

#signOut:hover {
  color: #913537;
}

#openNavigation {
  margin-right: 15px;
}


#extendedNavbar {
  background-color: #D14F52;
  box-shadow: 0 2px 7px 2px rgba(0,0,0,0.50);
  font-family: BrandonGrotesque-Regular;
  color: #F4F4F4;
  padding: 8px 24px;
  position: relative;
}

.extended-button {
  font-size: 100%;
  color: #F4F4F4;
  margin-right: 3%;
}

.extended-button:hover {
  color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
}

.extended-icon {
  margin-right: 4px;
}

@media (max-width: 991.98px) {

  #loggedInNavbar .navbar-brand {
    font-size: 180%;
    font-family: avenir-next-demibold;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    margin-right: auto;
  }

  #navbarContent .nav-link {
    text-decoration: none;
    color: rgba(255,255,255,.5);
  }

  #navbarContent .nav-link:hover {
    color: rgba(255,255,255,.75);
  }

  #loggedInNavbar .active .nav-link {
    color: white;
  }

  #myDropdown {
    position: absolute;
    text-align: center;
    left: 0;
    right: auto;
  }
}
/* END Navbar for logged in Users */

#container {
  padding: 35px 15%;
  text-align: center;
}

.picture-container {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

#cropPictureModal {
  height:95%;
}

#cropModalDialog, #cropModalContent {
  height: inherit;
}

#cropModalBody {
  height:74%;
  margin-bottom:4%;
}

.middle {
  cursor: pointer;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.picture-container:hover .image {
  opacity: 0.3;
}

.picture-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #D14F52;
  color: white;
  font-size: 32px;
  padding: 5px 15px;
  text-align: center;
  border-radius: 50%;
}

#profilePicture {
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
  opacity: 1;
  margin: 0 auto;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 2px solid #4a4a4a;
}

#userName {
  margin-top: 20px;
  font-family: bebas-neue;
  font-size: 350%;
}

#userBio {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-family: avenir-next-regular;
}

.form-control {
  text-align: center;
  font-family: BrandonGrotesque-Regular;
  font-size: 110%;
}

#myTags {
  border-radius: .25rem;

}

#myTags .tagit-choice {
  padding: 4px 30px;
  border-radius: 2rem;
}

#myTags .ui-icon-close {
  margin-right: 5px;
}

#myTags .tagit-new .ui-widget-content {
  font-family: BrandonGrotesque-Regular;
  font-size: 100%;
}

#myTags .tagit-label {
  font-family: BrandonGrotesque-Regular;
  font-size: 100%;
  color: #495057;
}
