@font-face { font-family: LightFont; src: url('../fonts/TheLightFont.otf'); }
@font-face { font-family: Feeding; src: url('../fonts/Feeding_a_Moment.otf'); }
@font-face { font-family: Comforta; src: url('../fonts/Comfortaa-Regular.ttf'); }


body {
  background: url("../images/funky-lines.png");
}

nav {
  background-color: #FEDC32;
}

.nav-link {
  background-color: #FEDC32;
}

.ml-auto {
  margin-top: 10px;
}

#logo {
  width: 70%;
}

#availability {
  width: 150px;
}

#editAvailabilityButton {
  margin-right: 10px;
}

.container {
  margin-top: 1%;
}

h1 {
    text-align: center;
}

#fullName {
    text-align: center;
}

.picture-container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#profilePicture {
  margin-left: auto;
  margin-right: auto;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    width: 100%;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 13px;
}

#copy {
  font-size: 25px;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#ID {
  width: 400px;
}

#profileSave {
  margin-bottom: 50px;
}

.modal-title {
  margin-left: 150px;
    font-family: LightFont;
    font-size: 35px;
}


@media (max-width: 991.98px) {
  #availability {
    margin-bottom: 10px;
  }
}
