@font-face { font-family: LightFont; src: url('../fonts/TheLightFont.otf'); }
@font-face { font-family: Feeding; src: url('../fonts/Feeding_a_Moment.otf'); }
@font-face { font-family: Comforta; src: url('../fonts/Comfortaa-Regular.ttf'); }


body {
  background: url("../images/funky-lines.png");
  height: 100%;
}

nav {
  background-color: #4A4A4A;
}

.container {
  margin-top: 1%;
  text-align: center;
}

.picture-container {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
}


#profilePicture {
  backface-visibility: hidden;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#copy {
  font-size: 25px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  float: left;
}

#ID {
  width: 400px;
  text-align: center;
  float: left;
}

.title {
    color: grey;
    font-size: 22px;
}

.availability-id {
  display: inline-block;
  height: 50px;
  margin: 0 auto;
}

.modal-title {
  margin-left: auto;
    font-family: LightFont;
    font-size: 35px;
}

.extra {
  margin-bottom: 10%;
}

#edit_profile {
  float: right;
  margin-right: 25%;
}
