@font-face {
  font-family: avenir-next-regular;
  src: url("../fonts/AvenirNext-Regular.ttf");
}

@font-face {
  font-family: avenir-next-demibold;
  src: url("../fonts/AvenirNext-DemiBold.ttf");
}

@font-face {
  font-family: BrandonGrotesque-Regular;
  src: url("../fonts/Brandon_reg.otf");
}

@font-face {
  font-family: DIN-Condensed;
  src: url("../fonts/DINCondensed-Bold.ttf");
}

@font-face {
  font-family: adam-cg-pro;
  src: url("../fonts/adam-cg-pro.regular.otf");
}

@font-face {
  font-family: bariol;
  src: url("../fonts/Bariol_Regular.otf");
}

@font-face {
  font-family: bebas-neue;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: adam-cg-pro;
  src: url("../fonts/adam-cg-pro.regular.otf");
}

@font-face {
  font-family: code-bold;
  src: url("../fonts/CODE-Bold.otf");
}

html {
  height: 100%;
}

html body {
  height: 100%;
  background-color: #ededed;
}

/* Navbar for logged in Users */

#loggedInNavbar {
  background-color: #4A4A4A;
}

#triangle-up {
  width: 0;
  height: 0;
  float: right;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 18px solid white;
  margin-top: -22px;
  margin-right: 24px;
}

#loggedInNavbar .navbar-brand {
  font-size: 180%;
  font-family: avenir-next-demibold;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
  margin-right: 5%;
}

#loggedInNavbar .nav-item {
  font-family: avenir-next-regular;
}

#loggedInNavbar .mr-auto .nav-item {
  padding-right: 15px;
}

#linksDropdownLink, #notifcationsDropdownLink {
  padding: 0;
}

#notificationsDropdownLink {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
  font-size: 150%;
}

.fa-bell {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.notification-badge::after {
  content: attr(data-count);
  position: absolute;
  background: #D14F52;
  height: 1.2rem;
  width: 1.2rem;
  bottom: 0.8rem;
  left: 0.5rem;
  text-align: center;
  line-height: 1rem;
  ;
  font-size: 0.6rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #D14F52;
  font-family: avenir-next-regular;
}

#notificationsDropdownPane, #myDropdown {
  position: absolute;
  text-align: center;
  margin-top: 10px;
}

#notificationsDropdownPane {
  height: 400px;
  width: 420px;
  margin-right: 9px;
  overflow-y: auto;
}

#notifcationsDropdownHeaderTitle {
  margin-bottom: 0;
  text-align: center;
  font-family: avenir-next-demibold;
  font-size: 110%;
}

#notifcationsDropdownHeaderDivider {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  border-top: 1px solid #4a4a4a;
}

#notificationsDropdownPane a {
  text-decoration: none;
}

.unread-notification-container {
  background-color: rgba(229, 79, 82, .2);
}

.unread-notification-container:hover {
  background-color: rgba(229, 79, 82, .25);
}

.read-notification-container {
  background-color: rgba(229, 229, 229, 0.5);
}

.read-notification-container:hover {
  background-color: rgba(219, 219, 219, 0.8);
}

.notification-container {
  padding: 3px;
  border-bottom: 1px solid #4a4a4a;
}

.notification-picture-container {
  height: 100%;
  display: inline-block;
  text-align: center;
}

.notification-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #4a4a4a;
  margin: 10px;
}

.notification-message-and-timestamp {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin-top: 17px;
}

.notification-message {
  text-align: left;
  color: #4a4a4a;
  font-family: avenir-next-regular;
  font-size: 18px;
  display: block;
}

.notification-timestamp {
  color: #4a4a4a;
  text-align: center;
  font-size: 13px;
  display: block;
  text-align: right;
}

.notification-button {
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #4a4a4a;
  margin-left: 10px;
  height: 20px;
  border-radius: 0.6rem;
}

#linksDropdownLink #userPicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

#myDropdown {
  position: absolute;
  text-align: center;
  margin-top: 7px;
}

.dropdown-options {
  display: block;
}

#signOut {
  color: #E54F52;
}

#signOut:hover {
  color: #913537;
}

#openNavigation {
  margin-right: 15px;
}

#extendedNavbar {
  background-color: #D14F52;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.50);
  font-family: BrandonGrotesque-Regular;
  color: #F4F4F4;
  padding: 8px 24px;
  position: relative;
}

.extended-button:hover {
  color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
}

.extended-icon {
  margin-right: 4px;
}

.extended-button, .extended-uninteractive-text {
  font-size: 100%;
  color: #F4F4F4;
  margin-right: 3%;
}

@media (max-width: 991.98px) {
  #loggedInNavbar .navbar-brand {
    font-size: 180%;
    font-family: AvenirNext-DemiBold;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    margin-right: auto;
  }
  #notificationsDropdownPane {
    height: 350px;
    width: 300px;
    margin-right: -240px !important;
  }
  #navbarContent .nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
  }
  #navbarContent .nav-link:hover {
    color: rgba(255, 255, 255, .75);
  }
  #loggedInNavbar .active .nav-link {
    color: white;
  }
  #myDropdown {
    position: absolute;
    text-align: center;
    left: 0;
    right: auto;
  }
}

@media(max-width: 570px) {
  .align-left {
    text-align: left !important;
  }
  .align-center {
    text-align: center !important;
  }
  .align-right {
    text-align: right !important;
  }
  .align-justify {
    text-align: justify !important;
  }
  #notificationsDropdownPane {
    height: 350px;
    width: 300px;
    margin-right: -240px !important;
  }
  #noti-triangle-up {
    margin-right: 265px;
  }
  #pro-triangle-up {
    margin-right: 120px;
  }
}

.pro-options {
  font-weight: bold;
  color: white;
}

.second-nav-options {
  display: grid;
}

.second-nav-options a {
  padding: .75rem;
}

#navbarSupportedContent {
  display: none;
}

@media(min-width: 576px) {
  #pro_options {
    display: none !important;
  }
  .lesson {
    width: 80% !important;
  }
  #options_btn {
    display: none !important;
  }
}

@media(max-width: 991.98px) {
  #myDropdown {
    margin-right: -110px !important;
  }
  #notificationsDropdownPane {
    height: 350px;
    width: 300px;
    margin-right: -240px !important;
  }
  #noti-triangle-up {
    margin-right: 265px;
  }
  #pro-triangle-up {
    margin-right: 120px;
  }
  #desktopNav {
    display: none !important;
  }
  #searchBar {
    left: 0%;
  }
}

@media(max-width: 400px) {
  .two-buttons {
    margin-top: -125px;
    display: none;
  }
  .lesson {
    width: 95% !important;
  }
}

#options_btn {
  background: transparent;
  border: none;
  position: absolute;
  right: 12px;
  transition: 0.3s ease;
}

/* END Navbar for logged in Users */

#loggedOutNavbar {
  background-color: #4A4A4A;
}

#loggedOutNavbar .nav-link {
  color: white;
  font-family: avenir-next-regular;
  font-size: 130%;
}

#loggedOutNavbar .nav-link:hover {
  text-decoration: none;
  color: #E54F52;
}

#loggedOutNavbar .navbar-brand {
  font-size: 180%;
  font-family: AvenirNext-DemiBold;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
  margin-right: 5%;
}

/* END Navbar for logged out Users */

#profilePicture {
  border-radius: 50%;
  border: 2px solid #4a4a4a;
}

#userName {
  font-family: bebas-neue;
  color: black;
  margin-top: 20px;
  font-size: 350%;
  margin-bottom: -10px;
}

#userType {
  text-transform: uppercase;
  font-family: bebas-neue;
  color: #4a4a4a;
  padding-bottom: 5px;
}

.user-headings {
  font-family: BrandonGrotesque-Regular;
  color: #6b6b6b;
  font-weight: bold;
}

.user-details {
  font-family: BrandonGrotesque-Regular;
  color: #6b6b6b;
  padding-bottom: 10px;
}

.email-style {
  text-align: center;
}

#availabilityTable {
  display: inline-block;
  text-align: center;
}

#availabilityTable td, #availabilityTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#availabilityTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#availabilityTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D14F52;
  color: white;
  text-align: center;
  font-family: adam-cg-pro;
}

#availabilityTable td {
  font-family: avenir-next-regular;
}

.unavailable {
  color: #D14F52;
}

.day {
  text-transform: uppercase;
}

.slider-line {
  border-bottom: 1px solid #6b6b6b;
  font-size: 0;
  position: relative;
  padding: 0;
  width: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.s-line-options {
  display: inline-block;
  width: 120px;
  text-align: center;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  color: #6b6b6b;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slider {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  background: #D14F52;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(209, 79, 82, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

@-webkit-keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

.rippleEffect {
  -webkit-animation: rippleDrop .6s linear;
  animation: rippleDrop .6s linear;
}

/* Remove Relationship Modal Styling */

.modal-dialog {
  padding-top: 10%;
}

.btn-danger {
  background-color: #D14F52;
  border-color: #D14F52;
}

.bold-text-style {
  font-family: avenir-next-demibold;
  ;
}

.text-style {
  font-family: avenir-next-regular;
}

/* END Remove Relationship Modal Styling */

.lesson {
  box-shadow: 0 0px 7px 2px rgba(0, 0, 0, 0.50);
  margin-bottom: 20px;
}

.lesson .main-information {
  width: 100%;
  display: inline-flex;
  height: 130px;
}

.lesson .date {
  min-width: 80px;
  height: 100%;
  background-color: #D14F52;
  font-family: code-bold;
  color: #F4F4F4;
  text-align: center;
}

.lesson .day {
  display: block;
  margin-top: 1px;
  font-size: 140%;
}

.lesson .month-day {
  font-size: 260%;
  margin-bottom: -18px;
  margin-top: -14px;
  display: block;
  padding-right: 5px;
}

.lesson .month {
  display: block;
  font-size: 180%;
  margin-bottom: -11px;
}

.lesson .year {
  font-size: 150%;
  display: block;
}

.lesson .details {
  background-color: white;
  width: 100%;
  padding-left: 9px;
  padding-top: 4px;
}

.lesson-title {
  padding-top: 0.5%;
  font-family: bebas-neue;
  text-align: left;
  font-size: 200%;
  margin-bottom: 0;
}

.lesson .extended-field {
  text-align: left;
  margin-bottom: 0;
  color: #4F4F4F;
  font-family: adam-cg-pro;
  font-weight: lighter;
  font-size: 100%;
  display: block;
}

.lesson .extended-detail {
  font-family: avenir-next-regular;
}