@font-face { font-family: avenir-next-regular; src: url("../fonts/AvenirNext-Regular.ttf"); }
@font-face { font-family: avenir-next-demibold; src: url("../fonts/AvenirNext-DemiBold.ttf"); }
@font-face { font-family: BrandonGrotesque-Regular; src: url("../fonts/Brandon_reg.otf"); }
@font-face { font-family: bebas-neue; src: url("../fonts/BebasNeue-Regular.ttf"); }
@font-face { font-family: adam-cg-pro; src: url("../fonts/adam-cg-pro.regular.otf"); }
@font-face { font-family: bariol; src: url("../fonts/Bariol_Regular.otf"); }
@font-face { font-family: anson; src: url("../fonts/Anson-Regular.otf"); }



html {
  height: 100%;
}

html body {
  height: 100%;
  background-color: #ededed;
}

/* Navbar for logged in Users */

#loggedInNavbar {
  background-color: #4A4A4A;
}

#triangle-up {
  width: 0;
  height: 0;
  float: right;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 18px solid white;
  margin-top: -22px;
  margin-right: 24px;
}

#loggedInNavbar .navbar-brand {
  font-size: 180%;
  font-family: avenir-next-demibold;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
  margin-right: 5%;
}

#loggedInNavbar .nav-item {
  font-family: avenir-next-regular;
}

#loggedInNavbar .mr-auto .nav-item {
  padding-right: 15px;
}

#linksDropdownLink, #notifcationsDropdownLink {
  padding: 0;
}

#notificationsDropdownLink {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
  font-size: 150%;
}

.fa-bell {
  text-align:center;
  vertical-align:middle;
  position: relative;
}

.notification-badge::after {
  content:attr(data-count);
  position: absolute;
  background: #D14F52;
  height: 1.2rem;
  width: 1.2rem;
  bottom: 0.8rem;
  left: 0.5rem;
  text-align: center;
  line-height: 1rem;;
  font-size: 0.6rem;
  border-radius: 50%;
  color:white;
  border: 1px solid #D14F52;
  font-family: avenir-next-regular;
}

#noti-triangle-up, #pro-triangle-up {
  width: 0;
  height: 0;
  float: right;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 18px solid white;
  margin-top: -22px;
  margin-right: 24px;
}

#notificationsDropdownPane, #myDropdown {
  position: absolute;
  text-align: center;
  margin-top: 10px;
}

#notificationsDropdownPane {
  height: 400px;
  width: 420px;
  margin-right: 9px;
  overflow-y: auto;
}

#notifcationsDropdownHeaderTitle {
  margin-bottom: 0;
  text-align: center;
  font-family: avenir-next-demibold;
  font-size: 110%;
}

#notifcationsDropdownHeaderDivider {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  border-top: 1px solid #4a4a4a;
}

#notificationsDropdownPane a {
  text-decoration: none;
}

.unread-notification-container {
  background-color: rgba(229, 79, 82, .2);
}

.unread-notification-container:hover {
  background-color: rgba(229, 79, 82, .25);
}

.read-notification-container {
  background-color: rgba(229, 229, 229, 0.5);
}

.read-notification-container:hover {
  background-color: rgba(219, 219, 219, 0.8);
}

.notification-container {
  padding: 3px;
  border-bottom: 1px solid #4a4a4a;
}

.notification-picture-container {
  height: 100%;
  display: inline-block;
  text-align: center;
}

.notification-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #4a4a4a;
  margin: 10px;
}

.notification-message-and-timestamp {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin-top: 17px;
}

.notification-message {
  text-align: left;
  color: #4a4a4a;
  font-family: avenir-next-regular;
  font-size: 18px;
  display: block;
}

.notification-timestamp {
  color: #4a4a4a;
  text-align: center;
  font-size: 13px;
  display: block;
  text-align: right;
}

.notification-button {
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #4a4a4a;
  margin-left: 10px;
  height: 20px;
  border-radius: 0.6rem;
}

#linksDropdownLink #userPicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

#myDropdown {
  position: absolute;
  text-align: center;
  margin-top: 7px;
}

.dropdown-options {
  display: block;
}

#signOut {
  color: #E54F52;
}

#signOut:hover {
  color: #913537;
}

#openNavigation {
  margin-right: 15px;
}


#extendedNavbar {
  background-color: #D14F52;
  box-shadow: 0 2px 7px 2px rgba(0,0,0,0.50);
  font-family: BrandonGrotesque-Regular;
  color: #F4F4F4;
  padding: 8px 24px;
  position: relative;
}

.extended-button {
  font-size: 100%;
  color: #F4F4F4;
  margin-right: 3%;
}

.extended-button:hover {
  color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
}

.extended-icon {
  margin-right: 4px;
}

@media (max-width: 991.98px) {

  #myDropdown {
    margin-right: -110px !important;
  }

  #notificationsDropdownPane {
    height: 350px;
    width: 300px;
    margin-right: -240px !important;
  }

  #noti-triangle-up {
    margin-right: 265px;
  }

  #pro-triangle-up {
    margin-right: 120px;
  }

  #loggedInNavbar .navbar-brand {
    font-size: 180%;
    font-family: avenir-next-demibold;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    margin-right: auto;
  }

  #navbarContent .nav-link {
    text-decoration: none;
    color: rgba(255,255,255,.5);
  }

  #navbarContent .nav-link:hover {
    color: rgba(255,255,255,.75);
  }

  #loggedInNavbar .active .nav-link {
    color: white;
  }

  #myDropdown {
    position: absolute;
    text-align: center;
    left: 0;
    right: auto;
  }
}
/* END Navbar for logged in Users */

#editAvailabilityTitle {
  font-family: bebas-neue;
  color: black;
  margin: 40px 0;
  font-size: 350%;
  text-align: center;
}

#scheduleVerification {
  font-family: avenir-next-regular;
  color: green;
  margin-top: -43px;
  margin-bottom: 30px;
  font-size: 110%;
  text-align: center;
}

.columns-container {
  white-space: nowrap;
  padding-top: 35px;
}

#currentAvailability {
  display: inline-block;
  text-align: center;
  width: 50%;
  white-space: normal;
  vertical-align: top;
}

.edit-availability-subtitle {
  font-family: bariol;
  font-size: 180%;
  color: black;
  font-weight: bold;
}

#availabilityTable {
  display: inline-block;
  text-align: center;
}

#availabilityTable td, #availabilityTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#availabilityTable tr:nth-child(even){background-color: #f2f2f2;}

#availabilityTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D14F52;
  color: white;
  text-align: center;
  font-family: adam-cg-pro;
}

#availabilityTable td {
  font-family: avenir-next-regular;
}

.unavailable {
  color: #D14F52;
}

.day {
  text-transform: uppercase;
}

#cancelAvailability {
  color: #E54F52;
}

#cancelAvailability:hover {
  color: #D14F52;
}

#warningText {
  font-size: 120%;
  color: #D14F52;
  font-family: BrandonGrotesque-Regular;
}

#addAvailability {
  display: inline-block;
  text-align: center;
  width: 50%;
  white-space: normal;
  vertical-align: top;
}

#titleInput {
  width: 50%;
  margin: 0 auto;
}

#locationInput {
  width: 50%;
  margin: 0 auto;
}

.input-label {
  display: block;
  font-family: BrandonGrotesque-Regular;
  color: #6b6b6b;
  font-weight: bold;
  font-size: 120%;
  margin: 10px 0;
}

.label-error {
  color: #D14F52;
}

.input-error {
  border: 1px solid #D14F52;
}

.date {
  margin: 0 auto;
  width: 50%;
}

.time {
  margin: 0 auto;
  width: 50%;
}

.error-list {
  font-family: avenir-next-regular;
  color: #D14F52;
  margin: 10px 0;
}

#addBtn {
  font-family: anson;
  padding: 2px 35px;
  display: inline-block;
  background-color: #E54F52;
  font-size: 120%;
  color: #F4F4F4;
  border-radius: 50px;
}

#addBtn:hover {
  background-color: #D14F52;
  border-color: #D14F52;
  color: #E6E6E6;
  text-decoration: none;
}

.center {
  text-align: center;
  padding-bottom: 100px;
}

#map {
  height: 100%;
}
