/*
Black (navbar) Color: #4A4A4A;
Red (extended-navbar) Color: #D14F52;
Light Red (search button) Color: #E54F52;
White (background) Color: #F4F4F4;
*/

@font-face {
  font-family: adam-cg-pro;
  src: url("../fonts/adam-cg-pro.regular.otf");
}

@font-face {
  font-family: code-bold;
  src: url("../fonts/CODE-Bold.otf");
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../fonts/AvenirNext-Regular.ttf");
}

@font-face {
  font-family: avenir-next-demibold;
  src: url("../fonts/AvenirNext-DemiBold.ttf");
}

@font-face {
  font-family: BrandonGrotesque-Regular;
  src: url("../fonts/Brandon_reg.otf");
}

@font-face {
  font-family: bebas-neue;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: anson;
  src: url("../fonts/Anson-Regular.otf");
}

html {
  height: 100%;
}

html body {
  height: 100%;
  background-color: #ededed;
}

/* Navbar for logged in Users */

#loggedInNavbar {
  background-color: #4A4A4A;
}

#noti-triangle-up,
#pro-triangle-up {
  width: 0;
  height: 0;
  float: right;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 18px solid white;
  margin-top: -22px;
  margin-right: 24px;
}

#loggedInNavbar .navbar-brand {
  font-size: 180%;
  font-family: avenir-next-demibold;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
  margin-right: 5%;
}

#loggedInNavbar .nav-item {
  font-family: avenir-next-regular;
}

#loggedInNavbar .mr-auto .nav-item {
  padding-right: 15px;
}

#linksDropdownLink,
#notifcationsDropdownLink {
  padding: 0;
}

#notificationsDropdownLink {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
  font-size: 150%;
}

.fa-bell {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

#notificationsDropdownPane,
#myDropdown {
  position: absolute;
  text-align: center;
  margin-top: 10px;
}

#notificationsDropdownPane {
  height: 400px;
  width: 420px;
  margin-right: 9px;
  overflow-y: auto;
}

#notifcationsDropdownHeaderTitle {
  margin-bottom: 0;
  text-align: center;
  font-family: avenir-next-demibold;
  font-size: 110%;
}

#notifcationsDropdownHeaderDivider {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  border-top: 1px solid #4a4a4a;
}

#notificationsDropdownPane a {
  text-decoration: none;
}

.unread-notification-container {
  background-color: rgba(229, 79, 82, .2);
}

.unread-notification-container:hover {
  background-color: rgba(229, 79, 82, .25);
}

.read-notification-container {
  background-color: rgba(229, 229, 229, 0.5);
}

.read-notification-container:hover {
  background-color: rgba(219, 219, 219, 0.8);
}

.notification-container {
  padding: 3px;
  border-bottom: 1px solid #4a4a4a;
}

.notification-picture-container {
  height: 100%;
  display: inline-block;
  text-align: center;
}

.notification-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #4a4a4a;
  margin: 10px;
}

.notification-message-and-timestamp {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin-top: 17px;
}

.notification-message {
  text-align: left;
  color: #4a4a4a;
  font-family: avenir-next-regular;
  font-size: 18px;
  display: block;
}

.notification-timestamp {
  color: #4a4a4a;
  text-align: center;
  font-size: 13px;
  display: block;
  text-align: right;
}

#linksDropdownLink #userPicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.dropdown-options {
  display: block;
}

#signOut {
  color: #E54F52;
}

#signOut:hover {
  color: #913537;
}

#openNavigation {
  margin-right: 15px;
}

#extendedNavbar {
  background-color: #D14F52;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.50);
  font-family: BrandonGrotesque-Regular;
  color: #F4F4F4;
  padding: 8px 24px;
  position: relative;
}

.extended-button {
  font-size: 100%;
  color: #F4F4F4;
  margin-right: 3%;
}

.extended-button:hover {
  color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
}

.extended-icon {
  margin-right: 4px;
}

.pro-options {
  font-weight: bold;
  color: white;
}

#desktopNav {
  display: block !important;
}

#navbarSupportedContent {
  display: none;
}

@media(max-width: 991.98px) {
  #myDropdown {
    margin-right: -110px !important;
  }

  #notificationsDropdownPane {
    height: 350px;
    width: 300px;
    margin-right: -240px !important;
  }

  #noti-triangle-up {
    margin-right: 265px;
  }

  #pro-triangle-up {
    margin-right: 120px;
  }

  #desktopNav {
    display: none !important;
  }
}

@media(max-width: 570px) {
  #myDropdown {
    margin-right: -110px !important;
  }

  #notificationsDropdownPane {
    height: 350px;
    width: 300px;
    margin-right: -240px !important;
  }

  #noti-triangle-up {
    margin-right: 265px;
  }

  #pro-triangle-up {
    margin-right: 120px;
  }

  .extended-button {
    margin-left: 6%;
  }
}

@media (max-width: 991.98px) {
  #loggedInNavbar .navbar-brand {
    font-size: 180%;
    font-family: AvenirNext-DemiBold;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    margin-right: auto;
  }

  #navbarContent .nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
  }

  #navbarContent .nav-link:hover {
    color: rgba(255, 255, 255, .75);
  }

  .settings-title {
    text-align: center;
  }
}

/* END Navbar for logged in Users */

/* Cancel/Delete Lesson Modal Styling */

.modal-dialog {
  padding-top: 10%;
}

.btn-danger {
  background-color: #D14F52;
  border-color: #D14F52;
}

.bold-text-style {
  font-family: avenir-next-demibold;
  ;
}

.text-style {
  font-family: avenir-next-regular;
}

/* END Cancel/Delete Account Modal Styling */

/* Settings Page CSS */

.settings-option {
  position: relative;
  border-bottom: 1px solid #4A4A4A;
  padding: 1em 0.5em;
}

.settings-title {
  text-transform: uppercase;
  padding: 1em 0.5em;
}

.option-btn {
  position: absolute;
  right: 1em;
}

.settings-option h6 {
  text-transform: capitalize;
}

/* CSS for Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #D14F52;
}

input:focus+.slider {
  box-shadow: 0 0 1px #D14F52;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px) rotateX(180deg) rotateZ(135deg);
  -ms-transform: translateX(26px) rotateX(180deg) rotateZ(135deg);
  transform: translateX(26px) rotateX(180deg) rotateZ(135deg);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 10px 10px 0 10px;
  transform: rotate(-45deg);
}
