/*
Black (navbar) Color: #4A4A4A;
Red (extended-navbar) Color: #D14F52;
White (background) Color: #F4F4F4;
*/

@font-face { font-family: adam-cg-pro; src: url("../fonts/adam-cg-pro.regular.otf"); }
@font-face { font-family: code-bold; src: url("../fonts/CODE-Bold.otf"); }
@font-face { font-family: avenir-next-regular; src: url("../fonts/AvenirNext-Regular.ttf"); }
@font-face { font-family: BrandonGrotesque-Regular; src: url("../fonts/Brandon_reg.otf"); }
@font-face { font-family: BebasNeueRegular; src: url("../fonts/BebasNeue-Regular.ttf");}

html body {
  height: 100%;
  background-color: #F4F4F4;
}

/* Navbar for logged in Users */

#loggedInNavbar {
  background-color: #4A4A4A;
}

#loggedInNavbar .navbar-brand {
  font-size: 180%;
  font-family: AvenirNext-DemiBold;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
  margin-right: 5%;
}

#loggedInNavbar .nav-item {
  font-family: AvenirNext-Medium;
}

#loggedInNavbar .mr-auto .nav-item {
  padding-right: 15px;
}

#userProfileInfo {
  display: inline;
}

#userName {
  float: left;
}

#userPicContainer {
  float: right;
}

#userPic {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
}

#userPic:hover {
  cursor: pointer;
}

#signOutDropdown {
  position: absolute;
  text-align: center;
}

#openNavigation {
  margin-right: 2%;
}

#extendedNavbar {
  background-color: #D14F52;
  box-shadow: 0 2px 7px 2px rgba(0,0,0,0.50);
  font-family: BrandonGrotesque-Regular;
  color: #F4F4F4;
  padding: 0px 24px;
  height: 40px;
  position: relative;
}

#searchBar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#searchInput {
  padding-left: 15px;
  padding-right: 36px;
  height: 30px;
  margin-right: .5rem;
  text-align: left;
  width: 275px;
  border-radius: 1.25rem;
}

#submitBtn {
  color: #737373;
  position: absolute;
  right: 20px;
  background-color: Transparent;
  padding: 0;
}

.error-list {
  color: red;
}

 #submitBtn:hover {
   color: #595959;
}

@media (max-width: 991.98px) {
  #navbarContent {
    top: 70px;
    left: 10px;
    background-color: #4F4F4F;
    width: 50%;
    padding: 1rem;
    position: fixed;
    border-radius: .25rem;
    z-index: 2;
  }

  #loggedInNavbar .navbar-brand {
    font-size: 180%;
    font-family: AvenirNext-DemiBold;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    margin-right: auto;
  }

  #navbarContent .nav-link {
    text-decoration: none;
    color: rgba(255,255,255,.5);
  }

  #navbarContent .nav-link:hover {
    color: rgba(255,255,255,.75);
  }

  #loggedInNavbar .active .nav-link {
    color: white;
  }
}
/* END Navbar for logged in Users */

#main {
  text-align: center;
}

#mainTitle {
  font-size: 220%;
  font-family: adam-cg-pro;
  margin: 40px auto;
}

.student {
  width: 50%;
  margin: 0 auto;
  border: 2px solid #4A4A4A;
}

.main-information {
  width: 100%;
  display: inline-flex;
  height: 70px;
}

.student-pfp-container {
  height: 100%;
  background-color: #D14F52;
}

.student-pfp {
  height: 100%;
  border-right: 2px solid #4A4A4A;
}

.student-main-info {
  height: 70px;
  background-color: white;
  width: 100%;
  padding-left: 1%;
}

.student-name {
  padding-top: 0.5%;
  font-family: BebasNeueRegular;
  text-align: left;
  font-size: 200%;
  margin-bottom: 0;
  color: #4a4a4a;
}

.student-link:hover {
  color: black;
}

.extended-field {
  text-align: left;
  margin-bottom: 0;
  color: #4F4F4F;
  font-family: adam-cg-pro;
  font-weight: lighter;
  font-size: 100%;
  display: block;
}

.extended-detail {
  font-family: avenir-next-regular;
}
