.error-msg, .error-description{
  width: fit-content;
  margin: 40px auto;
  text-align: center;
  color: rgb(229, 79, 82);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error-img{
  border-radius: 10px;
}

p{
  margin-top: 10px;
}