@font-face { font-family: LightFont; src: url("../fonts/TheLightFont.e027c1173c04.otf"); }
@font-face { font-family: Feeding; src: url("../fonts/Feeding_a_Moment.04dc9ffd6194.otf"); }
@font-face { font-family: Comforta; src: url("../fonts/Comfortaa-Regular.d350ce249a30.ttf"); }


body {
  background: url("../images/funky-lines.7c2eac8723aa.png");
}

nav, .nav-link{
  background-color: #FEDC32;
}

.container {
  margin-top: 1%;
}

h1 {
    text-align: center;
}

.picture-container {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.bd-crop-picture-modal-lg {
  height:95%;
}

#crop-modal-dialog, #crop-modal-content {
  height: inherit;
}

#crop-modal-body {
  height:74%;
  margin-bottom:4%;
}

.middle {
  cursor: pointer;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.picture-container:hover .image {
  opacity: 0.3;
}

.picture-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 32px;
  padding: 0 15px;
}

#profilePicture {
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
  opacity: 1;
  margin: 0 auto;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#copy {
  font-size: 25px;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#ID {
  width: 400px;
}

#profileSave {
  margin-bottom: 50px;
}

.modal-title {
  margin-left: 150px;
    font-family: LightFont;
    font-size: 35px;
}


@media (max-width: 991.98px) {
  #availability {
    margin-bottom: 10px;
  }
}
