@font-face { font-family: LightFont; src: url("../fonts/TheLightFont.e027c1173c04.otf"); }
@font-face { font-family: Feeding; src: url("../fonts/Feeding_a_Moment.04dc9ffd6194.otf"); }
@font-face { font-family: Comforta; src: url("../fonts/Comfortaa-Regular.d350ce249a30.ttf"); }


body {
  background: url("../images/funky-lines.7c2eac8723aa.png");
  height: 100%;
}

nav {
  background-color: #4A4A4A;
}

.container {
  margin-top: 1%;
  text-align: center;
}

.picture-container {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
}


#profilePicture {
  backface-visibility: hidden;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#copy {
  font-size: 25px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  float: left;
}

#ID {
  width: 350px;
  text-align: center;
  float: left;
}

.title {
    color: grey;
    font-size: 22px;
}

.availability-id {
  display: inline-block;
  height: 50px;
  margin: 0 auto;
}

.modal-title {
  margin-left: auto;
    font-family: LightFont;
    font-size: 35px;
}

@media (max-width: 400px) {
  #ID {
    width: 250px;
    text-align: center;
    float: left;
  }
}
