/*

Colors:
Red Primary Color: #D14F52
Black Secondary Color: #4A4A4A
Offwhite Background Color: #F4F4F4

Title: adam-cg-pro
Subtitle: DINCondensed-Bold
nav-links/buttons: avenir-next
paragraph: Rounded_Elegance

*/

html {
  height: 100%;
  background-color: #F4F4F4;
}

body {
  height: 100%;
}

@font-face {
  font-family: rounded-elegance;
  src: url("../fonts/Rounded_Elegance.ttf");
}

@font-face {
  font-family: DINCondensed-Bold;
  src: url("../fonts/DINCondensed-Bold.ttf");
}

@font-face {
  font-family: avenir-next;
  src: url("../fonts/AvenirNext-Regular.ttf");
}

@font-face {
  font-family: avenir-next-medium;
  src: url("../fonts/AvenirNext-Medium.ttf");
}

@font-face {
  font-family: adam-cg-pro;
  src: url("../fonts/adam-cg-pro.regular.otf");
}

nav {
  background-color: #4A4A4A;
}

.nav-home {
  color: white;
  font-family: avenir-next;
  font-size: 130%;
}

.nav-home:hover {
  text-decoration: none;
  color: #E54F52;
}

.login-btn {
  font-family: avenir-next-medium;
  background-color: #F4F4F4;
  font-size: 130%;
    color: #E54F52;
    padding: 5% 30px;
    border: 2px solid #E54F52;
    border-radius:50px;
}

.login-btn:hover {
  background-color: #E54F52;
  color: white;
}

.main-background {
  background-image: url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-origin: center;
  background-attachment: fixed;
  background-position: 10% 10%;
  /*background: url("main-background.jpg") no-repeat center center fixed;*/
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.main-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.main_subtitle {
  font-family: DINCondensed-Bold;
  font-weight: lighter;
  font-size: 50px;
  letter-spacing: 12.24px;
  text-align: center;
  margin-bottom: -1%;
}

.main_title {
  padding: 0;
  border-top: 2px solid #E54F52;
  display: inline-block;
  font-family: adam-cg-pro;
  font-size: 450%;
  text-align: center;
  margin-bottom: -1%;
}

.signup-btn {
  font-family: avenir-next-medium;
  background-color: #E54F52;
  font-size: 130%;
    color: white;
    padding: 10px 30px;
    border: 2px solid #E54F52;
    border-radius:50px;
    margin-bottom: 1%;
}

.spaces {
  visibility: hidden;
}

.signup-btn:hover {
  background-color: #E54F52;
  border-color: #E54F52;
  color: white;
}

.learn-more-btn {
  font-family: avenir-next-medium;
  background-color: white;
  font-size: 130%;
    color: black;
    padding: 5px 15px 5px 12px;
    border: 2px solid black;
}

.learn-more-btn:hover {
  background-color: black;
  color: white;
}

#learn-more-background {
  background: url("../images/learn-more-background.png") no-repeat center center;
  background-position: 130px -3px;
  background-size: cover;
  height: auto;
}

.first_row {
  padding-top: 12%;
  margin-bottom: 10%;
}

.schedule_picture {
  display: block;
  margin: 0 auto;
  width: 90%;
box-shadow: 0 2px 15px 4px rgba(0,0,0,0.50);
}

.classroom_picture {
  display: block;
  margin: 0 auto;
  width: 90%;
box-shadow: 0 2px 15px 4px rgba(0,0,0,0.50);

}

.title_col {
  font-family: DINCondensed-Bold;
  /* SCHEDULE LESSONS: */
  font-size: 3vw;
  color: #626262;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 15%;
}

.highlight {
  color: black;
}

.text_col {
  text-align: center;
}

.paragraph_col {
  font-family: rounded-elegance;
  font-size: 1.5vw;
}

.second_row {
  margin-bottom: 12.5%;
}

.banner {
  width: 100%;
  height: auto;
  background-color: #E54F52;
}

.banner-title {
  margin: 0 auto;
  padding-top: 10%;
  width: 100%;
  font-family: adam-cg-pro;
  font-size: 3.1vw;
  text-align: center;
  line-height: 200%;
  color: white;
}

.banner-subtitle {
  font-family: DINCondensed-Bold;
  letter-spacing: 12.24px;
  text-align: center;
  font-family: DINCondensed-Bold;
  font-size: 2.6vw;
  margin-top: 2%;
  margin-bottom: 4%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.banner-signup-container {
  text-align: center;
}

.banner-signup-btn {
  font-family: avenir-next-medium;
  background-color: white;
  font-size: 130%;
    color: black;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius:50px;
    margin-bottom: 9%;
    box-shadow: 8px 11px 30px 1px #4A4A4A;

}

.banner-signup-btn:hover {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: black;
}

.footer {
  background-color: #4A4A4A;
  height: 250px;
}

.footer-title {
  font-family: adam-cg-pro;
  font-size: 45px;
  text-align: center;
  color: white;
  padding-top: 3%;
}

.links {
  text-align: center;
}

.link {
  padding: 1%;
  font-size: 50px;
  color: white;
}

.link:hover {
  color: #E54F52;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .main-background {
    background-image: url("../images/main-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 41% 0%;
    /*background: url("main-background.jpg") no-repeat center center fixed;*/
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
  }

  .main_subtitle {
    font-family: DINCondensed-Bold;
    font-weight: lighter;
    font-size: 35px;
    letter-spacing: 12.24px;
    text-align: center;
    margin-bottom: -1%;
  }

  .main_title {
    padding: 0;
    border-top: 2px solid #E54F52;
    display: inline-block;
    font-family: adam-cg-pro;
    font-size: 70px;
    text-align: center;
    margin-bottom: -1%;
  }

  .signup-btn {
    font-family: avenir-next-medium;
    background-color: #E54F52;
    font-size: 30px;
      color: white;
      padding: 10px 30px;
      border: 2px solid #E54F52;
      border-radius:50px;
      margin-bottom: 1%;
  }

  .learn-more-btn {
    font-family: avenir-next-medium;
    background-color: white;
    font-size: 25px;
      color: black;
      padding: 5px 15px 5px 12px;
      border: 2px solid black;
  }

  #learn-more-background {
    background: url("../images/learn-more-background.png") no-repeat center center;
    background-position: -340px -303px;
    background-size: cover;
    height: auto;
  }

  .title_col {
    font-family: DINCondensed-Bold;
    /* SCHEDULE LESSONS: */
    font-size: 13vw;
    color: #626262;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 15%;
  }

  .paragraph_col {
    font-family: rounded-elegance;
    font-size: 5vw;
  }

  .banner-title {
    margin: 0 auto;
    padding-top: 10%;
    width: 100%;
    font-family: adam-cg-pro;
    font-size: 7vw;
    text-align: center;
    line-height: 200%;
    color: white;
  }

  .banner-subtitle {
    font-family: DINCondensed-Bold;
    letter-spacing: 12.24px;
    text-align: center;
    font-family: DINCondensed-Bold;
    font-size: 6.5vw;
    margin-top: 2%;
    margin-bottom: 4%;
  }

  .banner-signup-btn {
    font-family: avenir-next-medium;
    background-color: white;
    font-size: 5.5vw;
      color: black;
      padding: 10px 30px;
      border: 2px solid white;
      border-radius:50px;
      margin-bottom: 10%;
      box-shadow: 8px 11px 30px 1px #4A4A4A;
  }

  .footer {
    background-color: #4A4A4A;
    height: auto;
  }

  .footer-title {
    font-family: adam-cg-pro;
    font-size: 25px;
    text-align: center;
    color: white;
    padding-top: 3%;
  }

  .links {
    text-align: center;
    padding-bottom: 5%;
  }

  .link {
    padding: 1%;
    font-size: 27px;
    color: white;
  }


}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px)  {

  .navbar-collapse {
    margin-top: 20px;
  }

  .navbar-toggler-icon {
    font-size: 3vw;
  }

  .main-background {
    background-image: url("../images/main-background.jpg");
    background-repeat: no-repeat;
    background-origin: center;
    background-attachment: fixed;
    background-position: 41% 0%;
    /*background: url("main-background.jpg") no-repeat center center fixed;*/
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
  }

  .main-content {
    display: table-cell;
    text-align: center;
    padding-bottom: 15%;
  }

  .main_subtitle {
    font-family: DINCondensed-Bold;
    font-weight: lighter;
    font-size: 5vw;
    letter-spacing: 12.24px;
    text-align: center;
    margin-bottom: -1%;
  }

  .main_title {
    padding: 0;
    border-top: 2px solid #E54F52;
    display: inline-block;
    font-family: adam-cg-pro;
    font-size: 7vw;
    text-align: center;
    margin-bottom: -1%;
  }

  .signup-btn {
    font-family: avenir-next-medium;
    background-color: #E54F52;
    font-size: 3vw;
      color: white;
      padding: 10px 30px;
      border: 2px solid #E54F52;
      border-radius:50px;
      margin-bottom: 1%;
  }

  .learn-more-btn {
    font-family: avenir-next-medium;
    background-color: white;
    font-size: 3vw;
      color: black;
      padding: 5px 15px 5px 12px;
      border: 2px solid black;
  }


  #learn-more-background {
    background: url("../images/learn-more-background.png") no-repeat center center;
    background-position: -360px -303px;
    background-size: cover;
    height: auto;
  }

  .title_col {
    font-family: DINCondensed-Bold;
    /* SCHEDULE LESSONS: */
    font-size: 13vw;
    color: #626262;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 15%;
  }

  .paragraph_col {
    font-family: rounded-elegance;
    font-size: 5vw;
  }

  .banner-title {
    margin: 0 auto;
    padding-top: 10%;
    width: 100%;
    font-family: adam-cg-pro;
    font-size: 7vw;
    text-align: center;
    line-height: 200%;
    color: white;
  }

  .banner-subtitle {
    font-family: DINCondensed-Bold;
    letter-spacing: 12.24px;
    text-align: center;
    font-family: DINCondensed-Bold;
    font-size: 6.5vw;
    margin-top: 2%;
    margin-bottom: 4%;
  }

  .banner-signup-btn {
    font-family: avenir-next-medium;
    background-color: white;
    font-size: 5.5vw;
      color: black;
      padding: 10px 30px;
      border: 2px solid white;
      border-radius:50px;
      margin-bottom: 10%;
      box-shadow: 8px 11px 30px 1px #4A4A4A;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-collapse {
    margin-top: 20px;
  }

  .navbar-toggler-icon {
    font-size: 40px;
  }

  .main-background {
    background-image: url("../images/main-background.jpg");
    background-repeat: no-repeat;
    background-origin: center;
    background-attachment: fixed;
    background-position: 41% 0%;
    /*background: url("main-background.jpg") no-repeat center center fixed;*/
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
  }

  .main-content {
    display: table-cell;
    text-align: center;
    padding-bottom: 15%;
  }

  .main_subtitle {
    font-family: DINCondensed-Bold;
    font-weight: lighter;
    font-size: 75px;
    letter-spacing: 12.24px;
    text-align: center;
    margin-bottom: -1%;
  }

  .main_title {
    padding: 0;
    border-top: 2px solid #E54F52;
    display: inline-block;
    font-family: adam-cg-pro;
    font-size: 96px;
    text-align: center;
    margin-bottom: -1%;
  }

  .signup-btn {
    font-family: avenir-next-medium;
    background-color: #E54F52;
    font-size: 40px;
      color: white;
      padding: 10px 30px;
      border: 2px solid #E54F52;
      border-radius:50px;
      margin-bottom: 1%;
  }

  .learn-more-btn {
    font-family: avenir-next-medium;
    background-color: white;
    font-size: 35px;
      color: black;
      padding: 5px 15px 5px 12px;
      border: 2px solid black;
  }


  #learn-more-background {
    background: url("../images/learn-more-background.png") no-repeat center center;
    background-position: -360px -303px;
    background-size: cover;
    height: auto;
  }

  .title_col {
    font-family: DINCondensed-Bold;
    /* SCHEDULE LESSONS: */
    font-size: 13vw;
    color: #626262;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 15%;
  }

  .paragraph_col {
    font-family: rounded-elegance;
    font-size: 5vw;
  }

  .banner {
    width: 100%;
    height: auto;
    background-color: #E54F52;
  }

  .banner-title {
    margin: 0 auto;
    padding-top: 10%;
    width: 100%;
    font-family: adam-cg-pro;
    font-size: 7vw;
    text-align: center;
    line-height: 200%;
    color: white;
  }

  .banner-subtitle {
    font-family: DINCondensed-Bold;
    letter-spacing: 12.24px;
    text-align: center;
    font-family: DINCondensed-Bold;
    font-size: 6.5vw;
    margin-top: 2%;
    margin-bottom: 4%;
  }


  .banner-signup-btn {
    font-family: avenir-next-medium;
    background-color: white;
    font-size: 5.5vw;
      color: black;
      padding: 10px 30px;
      border: 2px solid white;
      border-radius:50px;
      box-shadow: 8px 11px 30px 1px #4A4A4A;
      margin-bottom: 10%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .main-background {
    background-image: url("../images/main-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 56% 0%;
    /*background: url("main-background.jpg") no-repeat center center fixed;*/
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
  }

  .main-content {
    display: table-cell;
    text-align: center;
    padding-bottom: 5%;
  }

  .main_subtitle {
    font-family: DINCondensed-Bold;
    font-weight: lighter;
    font-size: 45px;
    letter-spacing: 12.24px;
    text-align: center;
    margin-bottom: -1%;
  }

  .main_title {
    padding: 0;
    border-top: 2px solid #E54F52;
    display: inline-block;
    font-family: adam-cg-pro;
    font-size: 66px;
    text-align: center;
    margin-bottom: -1%;
  }

  .signup-btn {
    font-family: avenir-next-medium;
    background-color: #E54F52;
    font-size: 30px;
      color: white;
      padding: 10px 30px;
      border: 2px solid #E54F52;
      border-radius:50px;
      margin-bottom: 1%;
  }

  .learn-more-btn {
    font-family: avenir-next-medium;
    background-color: white;
    font-size: 25px;
      color: black;
      padding: 5px 15px 5px 12px;
      border: 2px solid black;
  }


  #learn-more-background {
    background: url("../images/learn-more-background.png") no-repeat center center;
    background-position: -200px -335px;
    background-size: cover;
    height: auto;
  }

  .title_col {
    font-family: DINCondensed-Bold;
    /* SCHEDULE LESSONS: */
    font-size: 6vw;
    color: #626262;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 15%;
  }

  .paragraph_col {
    font-family: rounded-elegance;
    font-size: 2vw;
  }

  .banner {
    width: 100%;
    height: auto;
    background-color: #E54F52;
  }

  .banner-title {
    margin: 0 auto;
    padding-top: 10%;
    width: 100%;
    font-family: adam-cg-pro;
    font-size: 4vw;
    text-align: center;
    line-height: 200%;
    color: white;
  }

  .banner-subtitle {
    font-family: DINCondensed-Bold;
    letter-spacing: 12.24px;
    text-align: center;
    font-family: DINCondensed-Bold;
    font-size: 3vw;
    margin-top: 2%;
    margin-bottom: 4%;
  }


  .banner-signup-btn {
    font-family: avenir-next-medium;
    background-color: white;
    font-size: 2.5vw;
      color: black;
      padding: 10px 30px;
      border: 2px solid white;
      border-radius:50px;
      box-shadow: 8px 11px 30px 1px #4A4A4A;
      margin-bottom: 10%;
  }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
