/*

Colors:
Primary Light Red Color: #E54F52;
Primary Dark Red Primary Color: #D14F52
Black Secondary Color: #4A4A4A
Offwhite Background Color: #F4F4F4

Title: adam-cg-pro
Subtitle: DINCondensed-Bold
nav-links/buttons: avenir-next
paragraph: Rounded_Elegance

*/

html {
  height: 100%;
  background-color: #F4F4F4;
}

body {
  height: 100%;
}

@font-face {
  font-family: rounded-elegance;
  src: url("../fonts/Rounded_Elegance.ttf");
}

@font-face {
  font-family: DINCondensed-Bold;
  src: url("../fonts/DINCondensed-Bold.ttf");
}

@font-face {
  font-family: avenir-next;
  src: url("../fonts/AvenirNext-Regular.ttf");
}

@font-face {
  font-family: avenir-next-medium;
  src: url("../fonts/AvenirNext-Medium.ttf");
}

@font-face {
  font-family: adam-cg-pro;
  src: url("../fonts/adam-cg-pro.regular.otf");
}

nav {
  background-color: #4A4A4A;
}

.nav-link {
  color: white;
  font-family: avenir-next;
  font-size: 130%;
}

.nav-link:hover {
  text-decoration: none;
  color: #E54F52;
}
/*
.login-btn {
  width: 130px;
  font-family: avenir-next-medium;
  background-color: #F4F4F4;
  font-size: 130%;
    color: #E54F52;
    border: 2px solid #E54F52;
    border-radius:50px;
}


.login-btn:hover {
  background-color: #E54F52;
  color: white;
}
*/

.main-background {
  background-image: url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-origin: center;
  background-attachment: fixed;
  background-position: center;
  /*background: url("main-background.jpg") no-repeat center center fixed;*/
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.main-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.main_subtitle {
  font-family: DINCondensed-Bold;
  font-weight: lighter;
  font-size: 250%;
  letter-spacing: 12.24px;
  text-align: center;
  margin-bottom: -1%;
}

.main_title {
  padding: 0;
  border-top: 2px solid #E54F52;
  display: inline-block;
  font-family: adam-cg-pro;
  font-size: 450%;
  text-align: center;
  margin-bottom: -1%;
}

.signup-btn {
  font-family: avenir-next-medium;
  width: 235px;
  background-color: #E54F52;
  font-size: 140%;
    color: white;
    border: 2px solid #E54F52;
    border-radius:50px;
    margin-bottom: 0.7%;
}

.spaces {
  visibility: hidden;
}

.signup-btn:hover {
  background-color: #D14F52;
  border-color: #D14F52;
  color: white;
}

.learn-more-btn {
  font-family: avenir-next-medium;
  background-color: white;
  font-size: 130%;
    color: black;
    border: 2px solid black;
}

.learn-more-btn:hover {
  background-color: black;
  color: white;
}

#learn-more-background {
  background: url("../images/learn-more-background.png") no-repeat center center;
  background-position: 130px -3px;
  background-size: cover;
  height: auto;
}

.first_row {
  padding-top: 12%;
  margin-bottom: 10%;
}

.schedule_picture {
  display: block;
  margin: 0 auto;
  width: 90%;
box-shadow: 0 2px 15px 4px rgba(0,0,0,0.50);
}

.classroom_picture {
  display: block;
  margin: 0 auto;
  width: 90%;
box-shadow: 0 2px 15px 4px rgba(0,0,0,0.50);

}

.title_col {
  font-family: DINCondensed-Bold;
  /* SCHEDULE LESSONS: */
  font-size: 270%;
  color: #626262;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 15%;
}

.highlight {
  color: black;
}

.text_col {
  text-align: center;
}

.paragraph_col {
  font-family: rounded-elegance;
  font-size: 120%;
}

.second_row {
  margin-bottom: 12.5%;
}

.banner {
  width: 100%;
  height: auto;
  background-color: #E54F52;
}

.banner-title {
  margin: 0 auto;
  padding-top: 10%;
  width: 100%;
  font-family: adam-cg-pro;
  font-size: 230%;
  text-align: center;
  line-height: 200%;
  color: white;
}

.banner-subtitle {
  font-family: DINCondensed-Bold;
  letter-spacing: 12.24px;
  text-align: center;
  font-family: DINCondensed-Bold;
  font-size: 180%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.banner-signup-container {
  text-align: center;
}

.banner-signup-btn {
  font-family: avenir-next-medium;
  background-color: white;
  font-size: 130%;
    color: black;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius:50px;
    margin-bottom: 9%;
    box-shadow: 8px 11px 30px 1px #4A4A4A;

}

.banner-signup-btn:hover {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: black;
}

.footer {
  background-color: #4A4A4A;
  height: 250px;
}

.footer-title {
  font-family: adam-cg-pro;
  font-size: 250%;
  text-align: center;
  color: white;
  padding-top: 3%;
}

.links {
  text-align: center;
}

.link {
  padding: 1%;
  font-size: 300%;
  color: white;
}

.link:hover {
  color: #E54F52;
}
