html, body {
  height: 100%;
  width: 100%;
}

nav {
  background-color: #FEDC32;
}

.navbar-brand {
  margin-right: -70px;
}

.nav-link {
  font-size: 20px;
}

#logo {
  width: 70%;
}
.errorlist {
  list-style-type: none;
  color: red;
}

#id_tutor_or_student {
  list-style-type: none;
  margin-left: 105px;
}

#id_tutor_or_student>li:nth-child(2) {
  margin-left: 30px;
}


#home {
  background: url("../images/background.jpg") no-repeat 0% 50% fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  color: black;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
}

.padding {
  padding: 80px 0;
}

.padding img {
  width: 100%;
}

footer {
  width: 100%;
  background-color: #FEDC32;
  padding: 5% 5% 10% 5%;
  color: black;
}

.fab {
  padding: 15px;
  font-size: 25px;
  color: black;
}

.fab:hover {
  color: #D5D5D5;
  text-decoration: none;
}

@media (max-width: 768px) {

  #home {
    background: url("../images/background.jpg") no-repeat 0% 0% fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
  }

  #bs-example-navbar-collapse-1 {
    margin-top: 2%;
    padding: 2% 0 0 3%;
  }

  .landing-text h1 {
    font-size: 300%;
  }

  .fab {
    font-size: 20px;
    max-width: 10px;
  }
}
