div-right@font-face {
  font-family: bariol;
  src: url("../fonts/Bariol_Regular.otf");
}

@font-face {
  font-family: anson;
  src: url("../fonts/Anson-Regular.otf");
}

@font-face {
  font-family: avenir-next;
  src: url("../fonts/AvenirNext-Regular.ttf");
}

html {
  height: 100%;
  background-color: #F4F4F4;
}

body {
  margin: 0;
}

.div-left {
  background-image: url("../images/div-left.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
  width: 40%;
  height: 100vh;
  text-align: center;
}

.div-right {
  text-align: center;
  /* USED TO CENTER FORM VERTICALLY */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* END USED TO CENTER FORM VERTICALLY */
  float: right;
  width: 60%;
  height: 100vh;
  background-color: #F4F4F4;
}

.homepage {
  font-family: bariol;
  position: absolute;
  width: 100%;
  right: 2%;
  text-align: right;
  margin-top: 3%;
}

.homepage-btn {
  text-decoration: none;
  display: inline-block;
  margin-left: 2px;
  background-color: #F4F4F4;
  font-size: 110%;
    color: #4A4A4A;
    padding: 0.5% 2%;
    border: 1px solid #4A4A4A;
    border-radius:50px;
}

.homepage-btn:hover {
  border: 1px solid #E54F52;
  background-color: #E54F52;
  color: white;
  text-decoration: none;
}

.verify-title {
  font-weight: 500;
  font-family: bariol;
}


@media (max-width: 991.98px) {

  .div-left {
    display: none;
  }

  .div-right {
    float: none;
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
  }

}
