<!DOCTYPE html>
{% load static %}
{% load tz_detect %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda | Schedulearn</title>
    <!-- Bootstrap CDNs -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- END Bootstrap CDNs -->
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- END FontAwesome CDN -->
    <!-- My Styling and Script -->
    <link rel="stylesheet" href="{% static 'dashboard/css/agenda.css' %}">
    <script src="{% static 'dashboard/js/agenda.js'%}"></script>
    <link rel="shortcut icon" href="#">
    <!-- END My Styling and Script -->
  </head>
  <body>
    <!-- main navbar for signed in users -->
    <nav class="navbar navbar-expand-lg navbar-dark" id="loggedInNavbar">
      <!-- When viewing on mobile, this will show up as the hamburger menu -->
      <button class="navbar-toggler" id="openNavigation" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'agenda' %}">SCHEDULEARN</a>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'agenda' %}">AGENDA<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            {% if user.profile.user_type == 'tutor' %}
            <a class="nav-link" href="{% url 'relationships' %}">MY STUDENTS</a>
            {% else %}
            <a class="nav-link" href="{% url 'relationships' %}">MY TUTORS</a>
            {% endif %}
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <div class="navbar-nav">
          <div class="nav-item dropdown">
            <div id="myName" class="nav-link" href="{% url 'my_profile' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.first_name }} {{ user.last_name }}<span class="sr-only">(current)</span>
              <img id="userPicture" src="/media/{{ user.profile.profile_pic }}" width="auto" height="30" alt="/media/profile_pics/default/man.png">
            </div>
            <div id="myDropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
              <div id="triangle-up"></div>
              <a class="dropdown-options" href="{% url 'my_profile' %}">My Profile</a>
              <a class="dropdown-options" id="signOut" href="{% url 'logout' %}">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- end main navbar -->
    <!-- extended navbar for signed in users -->
    <nav class="navbar navbar-expand-lg" id="extendedNavbar">
      <!-- When viewing on mobile, this will show up as the hamburger menu for Profile Options -->
      <button class="navbar-toggler profile-options-button w-100" id="openNavigation" type="button" data-toggle="collapse" data-target="#pro_options" aria-controls="pro_options" aria-expanded="false" aria-label="Toggle navigation">
        <span class="more-options">More Options</span>
      </button>

      <!-- This menu shows up on desktop version -->
      <div class="collapse navbar-collapse">
        <div class="col-md-10">
          <a class="extended-button" href="{% url 'choose_person' %}"><i class="far fa-calendar extended-icon"></i>SCHEDULE A LESSON</a>
        </div>
        <div class="col-md-2 rounded bg-white">
          <form action="{% url 'search' %}" id="searchBar" class="form-inline">
            {% if user.profile.user_type == 'tutor' %}
            {% if no_results %}
            <input id="searchInput" class="form-control no-border error-list" type="search" name="searchResult" aria-label="Search" placeholder="{{ no_results }}">
            {% else %}
            <input id="searchInput" class="form-control no-border" type="search" placeholder="Find Student via Email" name="searchResult" aria-label="Search">
            {% endif %}
            {% endif %}
            {% if user.profile.user_type == 'student' %}
            {% if no_results %}
            <input id="searchInput" class="form-control no-border error-list" type="search" name="searchResult" aria-label="Search" placeholder="{{ no_results }}">
            {% else %}
            <input id="searchInput" class="form-control no-border" type="search" placeholder="Find Tutor via Email" name="searchResult" aria-label="Search">
            {% endif %}
            {% endif %}
            <button id="submitBtn" class="btn my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>

      <!-- This menu is the formatted version to make it look nice on mobile -->
      <div class="collapse navbar-collapse" id="pro_options">
        <div class="dropdown-divider"></div>
        <table class="table table-borderless">
          <tr>
            <td>
              <a class="extended-button" href="{% url 'choose_person' %}"><i class="far fa-calendar extended-icon"></i>SCHEDULE A LESSON</a>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-md-2 bg-white rounded">
                <form action="{% url 'search' %}" id="searchBar" class="form-inline border-0">
                  {% if user.profile.user_type == 'tutor' %}
                  {% if no_results %}
                  <input id="searchInput" class="form-control error-list no-border" type="search" name="searchResult" aria-label="Search" placeholder="{{ no_results }}">
                  {% else %}
                  <input id="searchInput" class="form-control no-border" type="search" placeholder="Find Student via Email" name="searchResult" aria-label="Search">
                  {% endif %}
                  {% endif %}
                  {% if user.profile.user_type == 'student' %}
                  {% if no_results %}
                  <input id="searchInput" class="form-control no-border error-list" type="search" name="searchResult" aria-label="Search" placeholder="{{ no_results }}">
                  {% else %}
                  <input id="searchInput" class="form-control no-border" type="search" placeholder="Find Tutor via Email" name="searchResult" aria-label="Search">
                  {% endif %}
                  {% endif %}
                  <button id="submitBtn" class="btn my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div> 
            </td>
          </tr>
        </table>
      </div>
    </nav>
    <!-- end extended navbar for signed in users -->
    {% tz_detect %}
    {% if not scheduled_lessons and not pending_lessons %}
    <div class="col-md-12">
      <img id="picturePrompt" src="{% static 'dashboard/images/whiteboard.png' %}" alt="A whiteboard">
    </div>
    <h2 class="text-prompt">No Lessons Scheduled</h1>
    {% if user.profile.user_type == 'student' %}
    <h5 class="text-prompt">You can schedule a lesson by finding your tutor using the search bar above.</h5>
    {% else %}
    <h5 class="text-prompt">You can schedule a lesson by finding your student using the search bar above.</h5>
    {% endif %}
    {% else %}
    <div id="mainScheduled">
      {% if gcalender_success == 'Yes' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> You've added the lesson to your google calendar.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% elif gcalender_success == 'No' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Failure!</strong> Something went wrong, try again?
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% if successful_schedule_msg %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ successful_schedule_msg }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% if scheduled_lessons %}
      <h2 class="group-title">SCHEDULED LESSONS</h2>
      {% for scheduled_lesson in scheduled_lessons %}
      <div class="lesson">
        <div class="main-information">
          <div class="date">
            <span class="day">{{ scheduled_lesson.start_time|date:"D" }}</span>
            <span class="month-day">{{ scheduled_lesson.start_time|date:"d" }}</span>
            <span class="month">{{ scheduled_lesson.start_time|date:"M" }}</span>
            <span class="year">{{ scheduled_lesson.start_time|date:"Y" }}</span>
          </div>
          <div class="details-and-buttons">
            <div class="details">
              <h4 class="lesson-title">{{ scheduled_lesson.name }}</h4>
              <p class="extended-field">Location: <span class="extended-detail">{{ scheduled_lesson.location }}</span></p>
              <p class="extended-field">Timing:</b> <span class="extended-detail">{{ scheduled_lesson.start_time|date:"g:i A" }} - {{ scheduled_lesson.end_time|date:"g:i A" }}</span></p>
              {% if user.profile.user_type == 'tutor' %}
              <p class="extended-field">Student:</b> <span class="extended-detail">{{ scheduled_lesson.student_name }}</span></p>
              {% else %}
              <p class="extended-field">Tutor:</b> <span class="extended-detail">{{ scheduled_lesson.tutor_name }}</span></p>
              {% endif %}
            </div>
            <div class="three-buttons">
              <a href="{% url 'social:begin' 'google-calendar' %}?next={% url 'save_gcalendar_lesson' scheduled_lesson.id %}">
                <button class="accept-btn btn" type="button" name="button" data-toggle="tooltip" data-placement="top" title="Save Lesson To Your Google Calendar"><i class="far fa-calendar-plus"></i></button>
              </a>
              <a href="{% url 'reschedule_lesson' scheduled_lesson.id %}">
                <button class="reschedule-btn btn" type="button" name="button" data-toggle="tooltip" data-placement="top" title="Reschedule Lesson"><i class="far fa-edit"></i></button>
              </a>
              <a href="{% url 'decline_lesson' scheduled_lesson.id %}">
                <button class="decline-btn btn" type="button" name="button" data-toggle="tooltip" data-placement="top" title="Cancel Lesson"><i class="fas fa-times"></i></button>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div id="mainPending">
      {% if pending_lessons %}
      <h2 id="pendingLabel" class="group-title">PENDING LESSONS</h2>
      {% for pending_lesson in pending_lessons %}
      <div class="lesson">
        <div class="main-information">
          <div class="date">
            <span class="day">{{ pending_lesson.start_time|date:"D" }}</span>
            <span class="month-day">{{ pending_lesson.start_time|date:"d" }}</span>
            <span class="month">{{ pending_lesson.start_time|date:"M" }}</span>
            <span class="year">{{ pending_lesson.start_time|date:"Y" }}</span>
          </div>
          <div class="details-and-buttons">
            <i class="fa fa-ellipsis-v option-icon" aria-hidden="true"></i>
            <div class="details">
              <h4 class="lesson-title">{{ pending_lesson.name }}</h4>
              <p class="extended-field">Location: <span class="extended-detail">{{ pending_lesson.location }}</span></p>
              <p class="extended-field">Timing:</b> <span class="extended-detail">{{ pending_lesson.start_time|date:"g:i A" }} - {{ pending_lesson.end_time|date:"g:i A" }}</span></p>
              {% if user.profile.user_type == 'tutor' %}
              <p class="extended-field">Student:</b> <span class="extended-detail">{{ pending_lesson.student_name }}</span></p>
              {% else %}
              <p class="extended-field">Tutor:</b> <span class="extended-detail">{{ pending_lesson.tutor_name }}</span></p>
              {% endif %}
            </div>
            {% if pending_lesson.display_options %}
            <div class="three-buttons">
              <a href="{% url 'confirm_lesson' pending_lesson.id %}">
                <button class="accept-btn btn" type="button" name="button" data-toggle="tooltip" data-placement="top" title="Confirm Lesson"><i class="fas fa-check"></i></button>
              </a>
              <a href="{% url 'reschedule_lesson' pending_lesson.id %}">
                <button class="reschedule-btn btn" type="button" name="button"><i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Reschedule Lesson"></i></button>
              </a>
              <a href="{% url 'decline_lesson' pending_lesson.id %}">
                <button class="decline-btn btn" type="button" name="button" data-toggle="tooltip" data-placement="top" title="Decline Lesson"><i class="fas fa-times"></i></button>
              </a>
            </div>
            {% else %}
            <div class="two-buttons" id="twoButtons">
              <a href="{% url 'reschedule_lesson' pending_lesson.id %}">
                <button class="reschedule-btn btn" type="button" name="button" data-toggle="tooltip" data-placement="top" title="Reschedule Lesson"><i class="far fa-edit"></i></button>
              </a>
              <a href="{% url 'decline_lesson' pending_lesson.id %}">
                <button class="decline-btn btn" type="button" name="button" data-toggle="tooltip" data-placement="top" title="Cancel Lesson"><i class="fas fa-times"></i></button>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    {% endif %}
  </body>
</html>
