<!DOCTYPE html>
{% load static %}
{% load dashboard_extras %}
<html>

<head>
  <title>Edit My Availability | Schedulearn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
  <script src="https://kit.fontawesome.com/8111cb001a.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'dashboard/css/edit_availability.css' %}">
  <script src="{% static 'dashboard/js/edit_availability.js' %}"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
  <!-- FullCalender CDNs -->
  <link href="{% static 'fullcalendar/core/main.min.css' %}" rel='stylesheet'/>
  <link href="{% static 'fullcalendar/daygrid/main.min.css' %}" rel='stylesheet'/>
  <link href="{% static 'fullcalendar/timegrid/main.min.css' %}" rel='stylesheet'/>
  <script src="{% static 'fullcalendar/core/main.min.js' %}"></script>
  <script src="{% static 'fullcalendar/interaction/main.min.js' %}"></script>
  <script src="{% static 'fullcalendar/daygrid/main.min.js' %}"></script>
  <script src="{% static 'fullcalendar/timegrid/main.min.js' %}"></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let availabilities = []
      {% for availability in availabilities %}
      let start_time = new Date("{{ availability.start_time.isoformat }}");
      let end_time = new Date("{{ availability.end_time.isoformat }}");
      let start_day = start_time.getDay();
      if (start_time.getDay() !== end_time.getDay()) {
        end_time = `${end_time.getHours() + 24}:${String(end_time.getMinutes()).padStart(2, "0")}`;
      } else {
        end_time = `${String(end_time.getHours()).padStart(2, "0")}:${String(end_time.getMinutes()).padStart(2, "0")}`;
      }
      start_time = `${String(start_time.getHours()).padStart(2, "0")}:${String(start_time.getMinutes()).padStart(2, "0")}`;

      availabilities.push({
        title: "Available",
        daysOfWeek: [ start_day ],
        startTime: start_time,
        endTime: end_time,
        textColor: "#FFFFFF"
      })
      {% endfor %}
      let calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
        plugins: [ 'timeGrid' ],
        defaultView: 'timeGridWeek',
        events: availabilities,
        height: 1342,
        nowIndicator: true,
        customButtons: {
          addAvailablity: {
            text: 'Add Availability',
            click: () => {
              alert('clicked the custom button!');
            }
          }
        },
        eventClick: (info) => {
          alert('Event: ' + info.event.title);
        },
        header: {
          left: 'title',
          center: 'addAvailablity',
          right: 'prev,next today'
        }
      });

      calendar.render();
  });

  </script>
</head>

<body>

  <!-- main navbar for signed in users -->
  <nav class="navbar navbar-expand-lg navbar-dark" id="loggedInNavbar">
    <!-- When viewing on mobile, this will show up as the hamburger menu -->
    <button class="navbar-toggler" id="openNavigation" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'agenda' %}">SCHEDULEARN</a>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agenda' %}">AGENDA<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          {% if user.profile.user_type == 'tutor' %}
          <a class="nav-link" href="{% url 'relationships' %}">MY STUDENTS</a>
          {% else %}
          <a class="nav-link" href="{% url 'relationships' %}">MY TUTORS</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_profile' %}">MY PROFILE</a>
        </li>
      </ul>
      <div class="dropdown-divider"></div>
      <ul class="navbar-nav ml-auto p-0">
        <table class="table table-borderless w-25 m-0">
          <tr class="p-0">
            <td class="p-0 pt-1">
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="notificationsDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if unread_notifications > 0 %}
                  <i id="notificationIcon" data-count="{{ unread_notifications }}" class="far fa-bell notification-badge"></i>
                  {% else %}
                  <i id="notificationIcon" class="far fa-bell"></i>
                  {% endif %}
                </a>
                <div id="notificationsDropdownPane" class="dropdown-menu dropdown-menu-right" aria-labelledby="notifcationsDropdownLink">
                  <div id="noti-triangle-up"></div>
                  <p id="notifcationsDropdownHeaderTitle">Notifications</p>
                  <hr id="notifcationsDropdownHeaderDivider">
                  {% for notification in notifications %}
                  <a href="{{ notification.link }}">
                    <div
                      class="{% if notification.unread %} unread-notification-container {% else %} read-notification-container {% endif %} notification-container">
                      <div class="notification-picture-container">
                        <img class="notification-picture" src="/media/{{ notification.picture }}" alt="Notification picture">
                      </div>
                      <div class="notification-message-and-timestamp">
                        <span class="notification-message">{{ notification.message }}</span>
                        <span class="notification-timestamp">{{ notification.time_info }}</span>
                      </div>
                    </div>
                  </a>
                  {% endfor %}
                </div>
              </li>
            </td>
            <td class="p-0 pt-1">
              <li class="nav-item dropdown">
                <a id="linksDropdownLink" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img id="userPicture" src="/media/{{ user.profile.profile_pic }}" width="44" height="44" alt="/media/profile_pics/default/man.png">
                </a>
                <div id="myDropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
                  <div id="pro-triangle-up"></div>
                  <a class="dropdown-options" href="{% url 'settings' %}">Settings</a>
                  <a class="dropdown-options" id="signOut" href="{% url 'account_logout' %}">Sign
                    Out</a>
                </div>
              </li>
            </td>
          </tr>
        </table>
      </ul>
    </div>
  </nav>
  <!-- end main navbar -->
  <!-- extended navbar for signed in users -->
  <nav id="extendedNavbar">
    <a class="extended-button" href="{% url 'my_profile' %}"><i class="fas fa-arrow-left extended-icon"></i>RETURN TO MY PROFILE</a>
  </nav>
  <!-- end extended navbar for signed in users -->

  <h1 id="editAvailabilityTitle">Edit Availability</h1>
  <div id="calendar"><div/>
</body>

</html>
