<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Edit My Profile | Schedulearn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "dashboard/css/edit_profile.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static "dashboard/js/edit_profile.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css">
    </head>
  <body>

    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <!-- When viewing on mobile, this will show up as the hamburger menu -->
      <span class="navbar-brand">SCHEDULEARN</span>
      <button class="navbar-toggler" id="openNavigation" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'agenda' %}">AGENDA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tutors' %}">MY TUTORS</a>
          </li>
        </ul>
        <div class="navbar-nav ml-auto">
          <div id="profile-name" class="nav-item">
            <a class="nav-link" href="{% url 'my_profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
          <div id="pfp-container" class="nav-item dropdown">
            <div id="profile-picture" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
              <button type="button" class="btn btn-danger">Sign Out</button>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="collapse navbar-collapse w-50 alignRight p-3 position-fixed rounded" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agenda' %}">AGENDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tutors' %}">MY TUTORS</a>
        </li>
      </ul>
      <div class="navbar-nav ml-auto">
        <div id="profile-name" class="nav-item">
          <a class="nav-link active" href="{% url 'my_profile' %}">{{ user.first_name }} {{ user.last_name }}<span class="sr-only">(current)</span></a>
        </div>
        <div id="pfp-container" class="nav-item dropdown">
          <div id="profile-picture" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
            <button type="button" class="btn btn-danger">Sign Out</button>
          </div>
        </div>
      </div>
    </div>

    <nav class="extended-navbar">
      <span id="saveChanges" href="{% url 'edit_profile' %}"><i class="fas fa-check extended-icon"></i>SAVE CHANGES</span>
    </nav>
    <!-- navbar end -->

    <div class="modal fade bd-crop-picture-modal-lg" tabindex="-1" role="dialog" aria-labelledby="croppingPictureModal" aria-hidden="true">
      <div id="crop-modal-dialog" class="modal-dialog modal-lg">
        <div id="crop-modal-content" class="modal-content">
          <div id="crop-modal-body" class="modal-body">
            <img id="crop_picture" src="" alt="Your profile picture">
          </div>
          <div style="border-top:0px" class="modal-footer">
            <button id="saveCrop" type="button" class="btn btn-primary">Save changes</button>
            <button id="cancelCrop" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Are you sure?</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="border-top: 0px solid black" class="modal-footer">
                    <a href="/accounts/logout"><button type="button" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i>  Sign Out</button></a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      {% if user.last_name %}
      <h1>{{ user.first_name}} {{user.last_name}}'s Profile</h1>
      {% else %}
        <h1>{{ user.first_name}}'s Profile</h1>
      {% endif %}
      <div class="picture-container">
        <img id="profilePicture" src="/media/{{ user.profile.profile_pic }}" alt="Profile Picture">
        <div class="middle">
          <div class="text"><i class="fas fa-camera-retro"></i></div>
        </div>
      </div>

        <div class="form-group">
          <input id="input_pfp" type="file" class="form-control-file" hidden>
        </div>


      <hr>

      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input class="form-control" type="text" name="firstName" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input class="form-control" type="text" name="lastName" value="{{ user.last_name }}">
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input class="form-control"type="email" name="email" value="{{ user.email }}">
        </div>

        <button id="profileSave" type="submit" class="btn btn-primary" hidden>Save Changes</button>
      </form>

    </div>
    <style>

      .cr-boundary {
        height: 100%;
      }

      .form-control {
        text-align: center;
        font-family: avenir-next;
      }

      #profile-picture {
        background-image: url('/media/{{ user.profile.profile_pic }}');
      }

    </style>
    <script type="text/javascript">

        $('#id_first_name').val("{{ user.first_name }}");
        $('#id_last_name').val("{{ user.last_name }}");

    </script>
  </body>
</html>
