<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Edit My Profile | Schedulearn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "dashboard/css/edit_profile.css" %}">
  <script src="{% static "dashboard/js/edit_profile.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css">
</head>
<body>

  <!-- main navbar for signed in users -->
  <nav class="navbar navbar-expand-lg navbar-dark" id="loggedInNavbar">
    <!-- When viewing on mobile, this will show up as the hamburger menu -->
    <button class="navbar-toggler" id="openNavigation" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'agenda' %}">SCHEDULEARN</a>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agenda' %}">AGENDA</a>
        </li>
        <li class="nav-item">
          {% if user.profile.user_type == 'tutor' %}
          <a class="nav-link" href="{% url 'students' %}">MY STUDENTS</a>
          {% else %}
          <a class="nav-link" href="{% url 'tutors' %}">MY TUTORS</a>
          {% endif %}
        </li>
      </ul>
      <div class="navbar-nav" id="myProfileInfo">
        <div id="myName" class="nav-item active">
          <a class="nav-link" href="#">{{ user.first_name }} {{ user.last_name }}<span class="sr-only">(current)</span></a>
        </div>
        <div id="myPicContainer" class="nav-item dropdown">
          <div id="myPic" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </div>
          <div id="signOutDropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
            <a href="{% url 'logout' %}">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end main navbar -->
  <!-- extended navbar for signed in users -->
  <nav id="extendedNavbar">
    <a class="extended-button" id="cancelChanges" href="{% url 'my_profile' %}"><i class="fas fa-ban extended-icon"></i>CANCEL CHANGES</a>
    <span class="extended-button" id="saveChanges"><i class="fas fa-check extended-icon"></i>SAVE CHANGES</span>
  </nav>
  <!-- end extended navbar for signed in users -->

  <div id="cropPictureModal" class="modal fade bd-crop-picture-modal-lg" tabindex="-1" role="dialog" aria-labelledby="croppingPictureModal" aria-hidden="true">
    <div id="cropModalDialog" class="modal-dialog modal-lg">
      <div id="cropModalContent" class="modal-content">
        <div id="cropModalBody" class="modal-body">
          <img id="cropPicture" src="" alt="Your profile picture">
        </div>
        <div style="border-top:0px" class="modal-footer">
          <button id="saveCrop" type="button" class="btn btn-primary">Save changes</button>
          <button id="cancelCrop" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="picture-container">
      <img id="profilePicture" src="/media/{{ user.profile.profile_pic }}" alt="Profile Picture">
      <div class="middle">
        <div class="text"><i class="fas fa-camera-retro"></i></div>
      </div>
    </div>

    <h1>{{ user.first_name }} {{ user.last_name }}</h1>

    <div class="form-group">
      <input id="inputPfp" type="file" class="form-control-file" hidden>
    </div>
    <hr>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" name="firstName" value="{{ user.first_name }}">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" type="text" name="lastName" value="{{ user.last_name }}">
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input class="form-control" type="email" name="email" value="{{ user.email }}">
      </div>

      <button id="profileSave" type="submit" class="btn btn-primary" hidden>Save Changes</button>
    </form>

  </div>

  <style>

  .cr-boundary {
    height: 100%;
  }

  .form-control {
    text-align: center;
    font-family: avenir-next;
  }

  #myPic {
    background-image: url('/media/{{ user.profile.profile_pic }}');
  }

  </style>
</body>
</html>
