<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>My Profile | Schedulearn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static "dashboard/css/my_profile.css" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="{% static "dashboard/js/my_profile.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css">
</head>
<body>

  <!-- navbar start -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <!-- When viewing on mobile, this will show up as the hamburger menu -->
    <span class="navbar-brand">SCHEDULEARN</span>
    <button class="navbar-toggler" id="openNavigation" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agenda' %}">AGENDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tutors' %}">MY TUTORS</a>
        </li>
      </ul>
      <div class="navbar-nav ml-auto">
        <div id="profile-name" class="nav-item active">
          <a class="nav-link" href="{% url 'my_profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
        <div id="pfp-container" class="nav-item dropdown">
          <div id="profile-picture" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
            <button type="button" class="btn btn-danger">Sign Out</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="collapse navbar-collapse w-50 alignRight p-3 position-fixed rounded" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'agenda' %}">AGENDA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tutors' %}">MY TUTORS</a>
      </li>
    </ul>
    <div class="navbar-nav ml-auto">
      <div id="profile-name" class="nav-item">
        <a class="nav-link active" href="{% url 'my_profile' %}">{{ user.first_name }} {{ user.last_name }}<span class="sr-only">(current)</span></a>
      </div>
      <div id="pfp-container" class="nav-item dropdown">
        <div id="profile-picture" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
          <button type="button" class="btn btn-danger">Sign Out</button>
        </div>
      </div>
    </div>
  </div>

  <nav class="extended-navbar">
    <a class="extended-button" href="{% url 'edit_profile' %}"><i class="fas fa-user-edit extended-icon"></i>EDIT PROFILE</a>
  </nav>
  <!-- navbar end -->

  <div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Are you sure?</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="border-top: 0px solid black" class="modal-footer">
          <a href="/accounts/logout/"><button type="button" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i>  Sign Out</button></a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {% if changed_email %}
      <p class="confirm-list">Your email has successfully been changed. An email has been sent out to your new email address, please verify your email.</p>
    {% endif %}

    <div class="picture-container">
      <img id="profilePicture" src="/media/{{ user.profile.profile_pic }}" alt="Profile Picture">
    </div>

    {% if user.last_name %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    {% else %}
    <h1>{{ user.first_name }}</h1>
    {% endif %}

    {% if user.profile.user_type == 'tutor' %}
    <p class="title">Tutor</p>
    {% endif %}
    {% if user.profile.user_type == 'student' %}
    <p class="title">Student</p>
    {% endif %}
    <p class="title">{{ user.email }}</p>

    <div class="availability-id">
      <input type="text" class="form-control" id="ID" value="{{ user.profile.id }}" disabled </input>
      <button id="copy" type="button" name="button" data-toggle="tooltip" data-placement="top" title="Copy your ID" class="center">
        <i class="far fa-clipboard"></i>
      </button>
    </div>
  </div>

  <style>
  #profile-picture {
    background-image: url('/media/{{ user.profile.profile_pic }}');
  }
  </style>

</body>
</html>
