<!DOCTYPE html>
{% load static %}
{% load dashboard_extras %}
<html>
<head>
  <title>{{ user.first_name }}'s Profile | Schedulearn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "dashboard/css/my_profile.css" %}">
  <script src="{% static "dashboard/js/my_profile.js" %}"></script>
</head>
<body>

  <!-- main navbar for signed in users -->
  <nav class="navbar navbar-expand-lg navbar-dark" id="loggedInNavbar">
    <!-- When viewing on mobile, this will show up as the hamburger menu -->
    <button class="navbar-toggler" id="openNavigation" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'agenda' %}">SCHEDULEARN</a>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agenda' %}">AGENDA</a>
        </li>
        <li class="nav-item">
          {% if user.profile.user_type == 'tutor' %}
          <a class="nav-link" href="{% url 'relationships' %}">MY STUDENTS</a>
          {% else %}
          <a class="nav-link" href="{% url 'relationships' %}">MY TUTORS</a>
          {% endif %}
        </li>
      </ul>
      <div class="navbar-nav">
        <div class="nav-item dropdown">
          <div id="myName" class="nav-link" href="{% url 'my_profile' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.first_name }} {{ user.last_name }}<span class="sr-only">(current)</span>
            <img id="userPicture" src="/media/{{ user.profile.profile_pic }}" width="auto" height="50" alt="/media/profile_pics/default/man.png">
          </div>
          <div id="myDropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
            <div id="triangle-up"></div>
            <a class="dropdown-options" href="{% url 'my_profile' %}">My Profile</a>
            <a class="dropdown-options" id="signOut" href="{% url 'logout' %}">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end main navbar -->
  <!-- extended navbar for signed in users -->
  <nav id="extendedNavbar">
    <a class="extended-button" href="{% url 'edit_profile' %}"><i class="fas fa-user-edit extended-icon"></i>EDIT MY PROFILE</a>
    <a class="extended-button" href="{% url 'edit_availability' %}"><i class="fas fa-calendar-alt extended-icon"></i>EDIT MY AVAILABILITY</a>
  </nav>
  <!-- end extended navbar for signed in users -->


  <div class="container-fluid">
    <div class="row">

      <!-- Left side that contains the profile picture and the skills -->
      <div class="col-md-2 m-4 pl-4">
        <img id="userPicture" src="/media/{{ user.profile.profile_pic }}" width="auto" height="200" alt="/media/profile_pics/default/man.png">
        <div class="col-md-12 mt-4">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Skills</th>
              </tr>
            </thead>
            <!-- {% for skill in skills_ahmed_will_add %} -->
            <tr>
              <td>  <!-- {{skill}} --> None Yet</td>
            </tr>
          <!-- {% endfor %} -->
          </table>
        </div>
      </div>

      <!-- Right side that contains everything else -->
      <div class="col-md-7">
        <div id="availability">
          <h1 id="userName">{{ user.first_name }} {{ user.last_name }}</h1>
          <h3 id="userType">{{ user.profile.user_type }}</h3>

          <h5 class="user-headings"><b>Email Address: </b></h5>
          <h6 class="user-details"><a href="mailto:{{ user.email }}">{{ user.email }}</a></h6>

          <h5 class="user-headings mt-4">Bio:</h5>
          {% if user.profile.bio %}
          <h6 class="user-details">{{ user.profile.bio }}</h6>
          {% else %}
          <h6 class="user-details">Sorry, no bio available. ¯\_(ツ)_/¯</h6>
          {% endif %}

          <!-- Options  -->
          <ul class="col-md-12 slider-line w-100">
            <li class="col-xs-3 s-line-options" id="avail">AVAILABILITY</li>
            <li class="col-xs-3 s-line-options" id="revi">REVIEWS</li>
            <li class="col-xs-3 s-line-options" id="hist">HISTORY</li>
            <li class="col-xs-3 slider s-line-options"></li>
          </ul>

          <!-- Availability option -->
          <table id="availabilityTable">
            <tr>
              <th>DAY</th>
              <th>FROM</th>
              <th>TO</th>
              {% for day in days_of_the_week %}
              {% define_variable 0 %}
              {% for availability in availabilities %}
              {% if availability.start_time|date:"l" == day %}
              <tr>
                <td class="day">{{ day }}</td>
                <td>{{ availability.start_time|date:"g:i A" }}</td>
                <td>{{ availability.end_time|date:"g:i A" }}</td>
              </tr>
              {% define_variable 1 %}
              {% endif %}
              {% endfor %}
              {% get_variable as available %}
              {% if not available %}
              <tr>
                <td class="day">{{ day }}</td>
                <td class="unavailable" colspan="2">UNAVAILABLE</td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>

            <!-- Reviews Option -->
            <div id="reviewTab">
              This is the review box!
            </div>

            <!-- History Option -->
            <div id="historyTab">
              This is the history box!
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
