<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutors | Schedulearn</title>
  <!-- Bootstrap CDNs -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <!-- END Bootstrap CDNs -->
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!-- END FontAwesome CDN -->
  <!-- My Styling and Script -->
  <link rel="stylesheet" href="{% static 'dashboard/css/tutors.css' %}">
  <script src="{% static 'dashboard/js/tutors.js'%}"></script>
  <link rel="shortcut icon" href="#">
  <!-- END My Styling and Script -->
</head>
<body>

  <!-- navbar start for signed in users -->
  <nav class="navbar navbar-expand-lg navbar-dark" id="loggedInNavbar">
    <!-- When viewing on mobile, this will show up as the hamburger menu -->
    <a class="navbar-brand" href="{% url 'home' %}">SCHEDULEARN</a>
    <button class="navbar-toggler" id="openNavigation" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agenda' %}">AGENDA<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          {% if user.profile.user_type == 'tutor' %}
          <a class="nav-link" href="{% url 'students' %}">MY STUDENTS</a>
          {% else %}
          <a class="nav-link" href="{% url 'tutors' %}">MY TUTORS</a>
          {% endif %}
        </li>
      </ul>
      <div class="navbar-nav" id="userProfileInfo">
        <div id="userName" class="nav-item">
          <a class="nav-link" href="{% url 'my_profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
        <div id="userPicContainer" class="nav-item dropdown">
          <div id="userPic" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </div>
          <div id="signOutDropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-picture">
            <a href="{% url 'logout' %}">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav id="extendedNavbar">
    <a class="extended-button" href="#"><i class="fas fa-plus extended-icon"></i>ADD A STUDENT</a>
  </nav>
  <!-- End navbar for signed in users -->

  <div id="main">
    {% if tutors %}
    <h2 id="mainTitle">MY TUTORS</h2>
    {% for tutor in tutors %}
    <div class="tutor">
      <div class="main-information">
        <div class="tutor-pfp-container">
          <img class="tutor-pfp" src="/media/{{ tutor.profile_pic }}"></img>
        </div>
        <div class="tutor-main-info">
          <a class="tutor-link" href="{{ tutor.public_profile_url }}"><h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4></a>
          <p class="extended-field"><span class="extended-detail">{{ tutor.email }}</span></p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <style>
  #userPic {
    background-image: url('/media/{{ user.profile.profile_pic }}');
  }
  </style>

</body>
</html>
