#imageContainer, #errorMessageContainer {
  width: fit-content;
  margin: 50px auto;
  text-align: center;
  color: rgb(229, 79, 82);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#imageContainer {
  border-radius: 10px;
}

#homeLink {
    color: #a3393b;

}

#homeLink:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #6d2123;
}
